epever tracer with auto fridge lights and settings and all bugs iron out  this if the best one.json
[{"id":"885612fa.4cfda","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"e7f39cd5.4ea3e","type":"tab","label":"Settings","disabled":false,"info":""},{"id":"b74759b2.0e7988","type":"tab","label":"Switchs","disabled":false,"info":""},{"id":"eabcd67c.79e208","type":"influxdb","z":"","hostname":"127.0.0.1","port":"8086","protocol":"http","database":"tracera12","name":"tracera12","usetls":false,"tls":""},{"id":"e8e39e82.d49c8","type":"ui_base","theme":{"name":"theme-light","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"},"themeState":{"base-color":{"default":"#0094CE","value":"#0094CE","edited":false},"page-titlebar-backgroundColor":{"value":"#0094CE","edited":false},"page-backgroundColor":{"value":"#fafafa","edited":false},"page-sidebar-backgroundColor":{"value":"#ffffff","edited":false},"group-textColor":{"value":"#1bbfff","edited":false},"group-borderColor":{"value":"#ffffff","edited":false},"group-backgroundColor":{"value":"#ffffff","edited":false},"widget-textColor":{"value":"#111111","edited":false},"widget-backgroundColor":{"value":"#0094ce","edited":false},"widget-borderColor":{"value":"#ffffff","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}},"angularTheme":{"primary":"indigo","accents":"blue","warn":"red","background":"grey"}},"site":{"name":"Van Solar","hideToolbar":"false","allowSwipe":"true","lockMenu":"true","allowTempTheme":"true","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"c7eccf8b.9f1ff","type":"ui_group","z":"","name":"Settings","tab":"","order":4,"disp":true,"width":6,"collapse":true},{"id":"4100b6dc.dee008","type":"ui_group","z":"","name":"Solar","tab":"","order":1,"disp":true,"width":"6","collapse":false},{"id":"d6db96a0.987d88","type":"ui_group","z":"","name":"Battery","tab":"","order":2,"disp":true,"width":"6","collapse":false},{"id":"d8fe6c9e.711","type":"ui_group","z":"","name":"Load","tab":"","order":3,"disp":true,"width":"6","collapse":false},{"id":"c382dd9b.8abe2","type":"modbus-client","z":"","name":"TracerA12","clienttype":"tcp","bufferCommands":true,"stateLogEnabled":true,"tcpHost":"192.168.4.25","tcpPort":"23","tcpType":"TELNET","serialPort":"/dev/ttyUSB","serialType":"RTU-BUFFERD","serialBaudrate":"9600","serialDatabits":"8","serialStopbits":"1","serialParity":"none","serialConnectionDelay":"100","unit_id":"","commandDelay":"100","clientTimeout":"2000","reconnectOnTimeout":true,"reconnectTimeout":"2000","parallelUnitIdsAllowed":false},{"id":"2d8b626e.c2325e","type":"influxdb","z":"","hostname":"127.0.0.1","port":"8086","protocol":"http","database":"tracera12","name":"tracera12","usetls":false,"tls":""},{"id":"1d821b27.94b305","type":"ui_group","z":"","name":"Settings","tab":"","order":4,"disp":true,"width":6,"collapse":true},{"id":"5426a1d6.955b6","type":"ui_group","z":"","name":"Solar","tab":"","order":1,"disp":true,"width":"6","collapse":false},{"id":"4d51c9b.de30338","type":"ui_group","z":"","name":"Battery","tab":"","order":2,"disp":true,"width":"6","collapse":false},{"id":"28af38f1.90ac48","type":"ui_group","z":"","name":"Load","tab":"","order":3,"disp":true,"width":"6","collapse":false},{"id":"940b2d71.4e332","type":"modbus-client","z":"","name":"USB0","clienttype":"simpleser","bufferCommands":true,"stateLogEnabled":false,"tcpHost":"127.0.0.1","tcpPort":"502","tcpType":"DEFAULT","serialPort":"/dev/ttyUSB0","serialType":"RTU-BUFFERD","serialBaudrate":"57600","serialDatabits":"8","serialStopbits":"1","serialParity":"none","serialConnectionDelay":"100","unit_id":"1","commandDelay":"1","clientTimeout":"1000","reconnectOnTimeout":true,"reconnectTimeout":"2000","parallelUnitIdsAllowed":true},{"id":"982528f6.103d28","type":"modbus-client","z":"","name":"VansolarRS485","clienttype":"simpleser","bufferCommands":true,"stateLogEnabled":false,"queueLogEnabled":false,"tcpHost":"127.0.0.1","tcpPort":"502","tcpType":"DEFAULT","serialPort":"/dev/ttyXRUSB0","serialType":"RTU","serialBaudrate":"115200","serialDatabits":"8","serialStopbits":"1","serialParity":"none","serialConnectionDelay":"100","unit_id":"1","commandDelay":"1","clientTimeout":"1000","reconnectOnTimeout":true,"reconnectTimeout":"2000","parallelUnitIdsAllowed":true},{"id":"6598413e.4a106","type":"influxdb","z":"","hostname":"127.0.0.1","port":"8086","protocol":"http","database":"vansolar","name":"","usetls":false,"tls":""},{"id":"de38cd85.55c78","type":"modbus-client","z":"","name":"Serial_9600_8_N_1","clienttype":"serial","bufferCommands":true,"stateLogEnabled":false,"tcpHost":"127.0.0.1","tcpPort":"502","tcpType":"DEFAULT","serialPort":"/dev/ttyUSB0","serialType":"RTU-BUFFERD","serialBaudrate":"9600","serialDatabits":"8","serialStopbits":"1","serialParity":"none","serialConnectionDelay":"100","unit_id":"","commandDelay":"30","clientTimeout":"2000","reconnectTimeout":"5000"},{"id":"233a17a7.61d8b8","type":"ui_group","z":"","name":"SDM120 Energy Meter","tab":"","order":2,"disp":true,"width":"6"},{"id":"2afe58d3.ee8bc8","type":"influxdb","z":"","hostname":"127.0.0.1","port":"8086","protocol":"http","database":"tracera12","name":"tracera12","usetls":false,"tls":""},{"id":"c15f0fab.19f6","type":"ui_group","z":"","name":"Settings","tab":"","order":4,"disp":true,"width":6,"collapse":true},{"id":"fd6f5805.fc5008","type":"ui_group","z":"","name":"Solar","tab":"","order":1,"disp":true,"width":"6","collapse":false},{"id":"ef34f5a6.1a4358","type":"ui_group","z":"","name":"Battery","tab":"","order":2,"disp":true,"width":"6","collapse":false},{"id":"6241b4e0.d1deec","type":"ui_group","z":"","name":"Load","tab":"","order":3,"disp":true,"width":"6","collapse":false},{"id":"897e6408.8d4968","type":"modbus-client","z":"","name":"TracerA12","clienttype":"tcp","bufferCommands":true,"stateLogEnabled":true,"tcpHost":"192.168.4.25","tcpPort":"23","tcpType":"TELNET","serialPort":"/dev/ttyUSB","serialType":"RTU-BUFFERD","serialBaudrate":"9600","serialDatabits":"8","serialStopbits":"1","serialParity":"none","serialConnectionDelay":"100","unit_id":"","commandDelay":"100","clientTimeout":"2000","reconnectOnTimeout":true,"reconnectTimeout":"2000","parallelUnitIdsAllowed":false},{"id":"1e7428e8.13c727","type":"influxdb","z":"","hostname":"127.0.0.1","port":"8086","protocol":"http","database":"tracera12","name":"tracera12","usetls":false,"tls":""},{"id":"9b16943d.3ade78","type":"ui_group","z":"","name":"Settings","tab":"","order":4,"disp":true,"width":6,"collapse":true},{"id":"e4a1c5c9.9a0858","type":"ui_group","z":"","name":"Solar","tab":"","order":1,"disp":true,"width":"6","collapse":false},{"id":"1a43cfd.250193","type":"ui_group","z":"","name":"Battery","tab":"","order":2,"disp":true,"width":"6","collapse":false},{"id":"f2e1262f.d67a08","type":"ui_group","z":"","name":"Load","tab":"","order":3,"disp":true,"width":"6","collapse":false},{"id":"321f6b83.81f224","type":"modbus-client","z":"","name":"USB0","clienttype":"simpleser","bufferCommands":true,"stateLogEnabled":false,"tcpHost":"127.0.0.1","tcpPort":"502","tcpType":"DEFAULT","serialPort":"/dev/ttyUSB0","serialType":"RTU-BUFFERD","serialBaudrate":"57600","serialDatabits":"8","serialStopbits":"1","serialParity":"none","serialConnectionDelay":"100","unit_id":"1","commandDelay":"1","clientTimeout":"1000","reconnectOnTimeout":true,"reconnectTimeout":"2000","parallelUnitIdsAllowed":true},{"id":"ad148c64.62b37","type":"influxdb","z":"","hostname":"127.0.0.1","port":"8086","protocol":"http","database":"tracera12","name":"tracera12","usetls":false,"tls":""},{"id":"229f95a9.bb5ffa","type":"ui_group","z":"","name":"Settings","tab":"","order":4,"disp":true,"width":6,"collapse":true},{"id":"296314a1.08de8c","type":"ui_group","z":"","name":"Solar","tab":"","order":1,"disp":true,"width":"6","collapse":false},{"id":"2ec3864b.4f41da","type":"ui_group","z":"","name":"Battery","tab":"","order":2,"disp":true,"width":"6","collapse":false},{"id":"fd398ff5.3503f","type":"ui_group","z":"","name":"Load","tab":"","order":3,"disp":true,"width":"6","collapse":false},{"id":"8d7a52bd.72eb3","type":"modbus-client","z":"","name":"TracerA12","clienttype":"tcp","bufferCommands":true,"stateLogEnabled":true,"tcpHost":"192.168.4.25","tcpPort":"23","tcpType":"TELNET","serialPort":"/dev/ttyUSB","serialType":"RTU-BUFFERD","serialBaudrate":"9600","serialDatabits":"8","serialStopbits":"1","serialParity":"none","serialConnectionDelay":"100","unit_id":"","commandDelay":"100","clientTimeout":"2000","reconnectOnTimeout":true,"reconnectTimeout":"2000","parallelUnitIdsAllowed":false},{"id":"af4bd1be.611e1","type":"influxdb","z":"","hostname":"127.0.0.1","port":"8086","protocol":"http","database":"tracera12","name":"tracera12","usetls":false,"tls":""},{"id":"8811863b.d2ed38","type":"ui_group","z":"","name":"Settings","tab":"","order":4,"disp":true,"width":6,"collapse":true},{"id":"bfef941a.5262e8","type":"ui_group","z":"","name":"Solar","tab":"","order":1,"disp":true,"width":"6","collapse":false},{"id":"aabe113a.d5738","type":"ui_group","z":"","name":"Battery","tab":"","order":2,"disp":true,"width":"6","collapse":false},{"id":"4d9654b2.421fcc","type":"ui_group","z":"","name":"Load","tab":"","order":3,"disp":true,"width":"6","collapse":false},{"id":"2cef4018.5fce3","type":"modbus-client","z":"","name":"USB0","clienttype":"simpleser","bufferCommands":true,"stateLogEnabled":false,"tcpHost":"127.0.0.1","tcpPort":"502","tcpType":"DEFAULT","serialPort":"/dev/ttyUSB0","serialType":"RTU-BUFFERD","serialBaudrate":"57600","serialDatabits":"8","serialStopbits":"1","serialParity":"none","serialConnectionDelay":"100","unit_id":"1","commandDelay":"1","clientTimeout":"1000","reconnectOnTimeout":true,"reconnectTimeout":"2000","parallelUnitIdsAllowed":true},{"id":"890bbb16.d0abc8","type":"influxdb","z":"","hostname":"127.0.0.1","port":"8086","protocol":"http","database":"vansolar","name":"","usetls":false,"tls":""},{"id":"9de9eebd.5eeab","type":"influxdb","z":"","hostname":"127.0.0.1","port":"8086","protocol":"http","database":"tracera12","name":"tracera12","usetls":false,"tls":""},{"id":"e82907c8.326e98","type":"ui_group","z":"","name":"Settings","tab":"","order":4,"disp":true,"width":6,"collapse":true},{"id":"f3a68314.90928","type":"ui_group","z":"","name":"Solar","tab":"","order":1,"disp":true,"width":"6","collapse":false},{"id":"e45987ff.c7c428","type":"ui_group","z":"","name":"Battery","tab":"","order":2,"disp":true,"width":"6","collapse":false},{"id":"675626e1.eafd68","type":"ui_group","z":"","name":"Load","tab":"","order":3,"disp":true,"width":"6","collapse":false},{"id":"3c7de37f.a78a0c","type":"modbus-client","z":"","name":"TracerA12","clienttype":"tcp","bufferCommands":true,"stateLogEnabled":true,"tcpHost":"192.168.4.25","tcpPort":"23","tcpType":"TELNET","serialPort":"/dev/ttyUSB","serialType":"RTU-BUFFERD","serialBaudrate":"9600","serialDatabits":"8","serialStopbits":"1","serialParity":"none","serialConnectionDelay":"100","unit_id":"","commandDelay":"100","clientTimeout":"2000","reconnectOnTimeout":true,"reconnectTimeout":"2000","parallelUnitIdsAllowed":false},{"id":"dca4ff0f.41891","type":"influxdb","z":"","hostname":"127.0.0.1","port":"8086","protocol":"http","database":"tracera12","name":"tracera12","usetls":false,"tls":""},{"id":"4e697b43.455364","type":"ui_group","z":"","name":"Settings","tab":"","order":4,"disp":true,"width":6,"collapse":true},{"id":"140658d4.c25b47","type":"ui_group","z":"","name":"Solar","tab":"","order":1,"disp":true,"width":"6","collapse":false},{"id":"ac7a43ec.7e205","type":"ui_group","z":"","name":"Battery","tab":"","order":2,"disp":true,"width":"6","collapse":false},{"id":"857db87a.7e80e8","type":"ui_group","z":"","name":"Load","tab":"","order":3,"disp":true,"width":"6","collapse":false},{"id":"ab40e704.e2cf78","type":"modbus-client","z":"","name":"USB0","clienttype":"simpleser","bufferCommands":true,"stateLogEnabled":false,"tcpHost":"127.0.0.1","tcpPort":"502","tcpType":"DEFAULT","serialPort":"/dev/ttyUSB0","serialType":"RTU-BUFFERD","serialBaudrate":"57600","serialDatabits":"8","serialStopbits":"1","serialParity":"none","serialConnectionDelay":"100","unit_id":"1","commandDelay":"1","clientTimeout":"1000","reconnectOnTimeout":true,"reconnectTimeout":"2000","parallelUnitIdsAllowed":true},{"id":"9446aae9.e9fe28","type":"ui_group","z":"","name":"Solar LIVE","tab":"","disp":true,"width":"6","collapse":false},{"id":"2f772ba9.979074","type":"influxdb","z":"","hostname":"127.0.0.1","port":"8086","protocol":"http","database":"tracera12","name":"tracera12","usetls":false,"tls":""},{"id":"ee932dfd.84698","type":"ui_group","z":"","name":"Settings","tab":"","order":4,"disp":true,"width":6,"collapse":true},{"id":"5919a4.2e00065c","type":"ui_group","z":"","name":"Solar","tab":"","order":1,"disp":true,"width":"6","collapse":false},{"id":"e2f63c18.9608","type":"ui_group","z":"","name":"Battery","tab":"","order":2,"disp":true,"width":"6","collapse":false},{"id":"1b5fb5f4.c6628a","type":"ui_group","z":"","name":"Load","tab":"","order":3,"disp":true,"width":"6","collapse":false},{"id":"e9dd3ef.59afcc","type":"modbus-client","z":"","name":"TracerA12","clienttype":"tcp","bufferCommands":true,"stateLogEnabled":true,"tcpHost":"192.168.4.25","tcpPort":"23","tcpType":"TELNET","serialPort":"/dev/ttyUSB","serialType":"RTU-BUFFERD","serialBaudrate":"9600","serialDatabits":"8","serialStopbits":"1","serialParity":"none","serialConnectionDelay":"100","unit_id":"","commandDelay":"100","clientTimeout":"2000","reconnectOnTimeout":true,"reconnectTimeout":"2000","parallelUnitIdsAllowed":false},{"id":"4f866eb5.387e2","type":"influxdb","z":"","hostname":"127.0.0.1","port":"8086","protocol":"http","database":"tracera12","name":"tracera12","usetls":false,"tls":""},{"id":"e04b4460.92c398","type":"ui_group","z":"","name":"Settings","tab":"","order":4,"disp":true,"width":6,"collapse":true},{"id":"efd28720.ea9fa8","type":"ui_group","z":"","name":"Solar","tab":"","order":1,"disp":true,"width":"6","collapse":false},{"id":"e73ac7d1.5ecbf8","type":"ui_group","z":"","name":"Battery","tab":"","order":2,"disp":true,"width":"6","collapse":false},{"id":"9bf6c926.a12468","type":"ui_group","z":"","name":"Load","tab":"","order":3,"disp":true,"width":"6","collapse":false},{"id":"38e40a89.179066","type":"modbus-client","z":"","name":"USB0","clienttype":"simpleser","bufferCommands":true,"stateLogEnabled":false,"tcpHost":"127.0.0.1","tcpPort":"502","tcpType":"DEFAULT","serialPort":"/dev/ttyUSB0","serialType":"RTU-BUFFERD","serialBaudrate":"57600","serialDatabits":"8","serialStopbits":"1","serialParity":"none","serialConnectionDelay":"100","unit_id":"1","commandDelay":"1","clientTimeout":"1000","reconnectOnTimeout":true,"reconnectTimeout":"2000","parallelUnitIdsAllowed":true},{"id":"e06bb13f.7f2c9","type":"ui_group","z":"","name":"Battery LIVE","tab":"","order":2,"disp":true,"width":"6","collapse":false},{"id":"f703b952.8289e8","type":"ui_group","z":"","name":"Load","tab":"","order":3,"disp":true,"width":"6","collapse":false},{"id":"4a7f7181.53855","type":"influxdb","z":"","hostname":"127.0.0.1","port":"8086","protocol":"http","database":"tracera12","name":"tracera12","usetls":false,"tls":""},{"id":"e1d7d9a2.3d0fb8","type":"ui_group","z":"","name":"Settings","tab":"","order":4,"disp":true,"width":6,"collapse":true},{"id":"d26c6292.65fdf","type":"ui_group","z":"","name":"Solar","tab":"","order":1,"disp":true,"width":"6","collapse":false},{"id":"2bb31e30.e5c6b2","type":"ui_group","z":"","name":"Battery","tab":"","order":2,"disp":true,"width":"6","collapse":false},{"id":"3222fb98.c9d4a4","type":"ui_group","z":"","name":"Load","tab":"","order":3,"disp":true,"width":"6","collapse":false},{"id":"ff14e9cd.0aec68","type":"modbus-client","z":"","name":"TracerA12","clienttype":"tcp","bufferCommands":true,"stateLogEnabled":true,"tcpHost":"192.168.4.25","tcpPort":"23","tcpType":"TELNET","serialPort":"/dev/ttyUSB","serialType":"RTU-BUFFERD","serialBaudrate":"9600","serialDatabits":"8","serialStopbits":"1","serialParity":"none","serialConnectionDelay":"100","unit_id":"","commandDelay":"100","clientTimeout":"2000","reconnectOnTimeout":true,"reconnectTimeout":"2000","parallelUnitIdsAllowed":false},{"id":"5026ad3a.d18cd4","type":"influxdb","z":"","hostname":"127.0.0.1","port":"8086","protocol":"http","database":"tracera12","name":"tracera12","usetls":false,"tls":""},{"id":"5be7f475.77e97c","type":"ui_group","z":"","name":"Settings","tab":"","order":4,"disp":true,"width":6,"collapse":true},{"id":"79659a26.dc4f14","type":"ui_group","z":"","name":"Solar","tab":"","order":1,"disp":true,"width":"6","collapse":false},{"id":"c9233dd7.79627","type":"ui_group","z":"","name":"Battery","tab":"","order":2,"disp":true,"width":"6","collapse":false},{"id":"db0778d6.a806e8","type":"ui_group","z":"","name":"Load","tab":"","order":3,"disp":true,"width":"6","collapse":false},{"id":"df172f9a.87b04","type":"modbus-client","z":"","name":"USB0","clienttype":"simpleser","bufferCommands":true,"stateLogEnabled":false,"tcpHost":"127.0.0.1","tcpPort":"502","tcpType":"DEFAULT","serialPort":"/dev/ttyUSB0","serialType":"RTU-BUFFERD","serialBaudrate":"57600","serialDatabits":"8","serialStopbits":"1","serialParity":"none","serialConnectionDelay":"100","unit_id":"1","commandDelay":"1","clientTimeout":"1000","reconnectOnTimeout":true,"reconnectTimeout":"2000","parallelUnitIdsAllowed":true},{"id":"6193851e.397bcc","type":"influxdb","z":"","hostname":"127.0.0.1","port":"8086","protocol":"http","database":"tracera12","name":"tracera12","usetls":false,"tls":""},{"id":"acccecd4.b972f","type":"ui_group","z":"","name":"Settings","tab":"","order":4,"disp":true,"width":6,"collapse":true},{"id":"f64bfdfb.dfb77","type":"ui_group","z":"","name":"Solar","tab":"","order":1,"disp":true,"width":"6","collapse":false},{"id":"bfe809cb.1e8328","type":"ui_group","z":"","name":"Battery","tab":"","order":2,"disp":true,"width":"6","collapse":false},{"id":"9a66e327.5ce8a","type":"ui_group","z":"","name":"Load","tab":"","order":3,"disp":true,"width":"6","collapse":false},{"id":"f84138f8.3eee98","type":"modbus-client","z":"","name":"TracerA12","clienttype":"tcp","bufferCommands":true,"stateLogEnabled":true,"tcpHost":"192.168.4.25","tcpPort":"23","tcpType":"TELNET","serialPort":"/dev/ttyUSB","serialType":"RTU-BUFFERD","serialBaudrate":"9600","serialDatabits":"8","serialStopbits":"1","serialParity":"none","serialConnectionDelay":"100","unit_id":"","commandDelay":"100","clientTimeout":"2000","reconnectOnTimeout":true,"reconnectTimeout":"2000","parallelUnitIdsAllowed":false},{"id":"e46c810c.b26b7","type":"influxdb","z":"","hostname":"127.0.0.1","port":"8086","protocol":"http","database":"tracera12","name":"tracera12","usetls":false,"tls":""},{"id":"860a2d34.c92ba","type":"ui_tab","z":"","name":"Settings","icon":"dashboard","order":2,"disabled":false,"hidden":false},{"id":"eed9e319.90228","type":"ui_group","z":"","name":"Settings","tab":"860a2d34.c92ba","order":4,"disp":true,"width":"6","collapse":true},{"id":"5f4b0df3.fa1804","type":"modbus-client","z":"","name":"USB0","clienttype":"simpleser","bufferCommands":true,"stateLogEnabled":false,"tcpHost":"127.0.0.1","tcpPort":"502","tcpType":"DEFAULT","serialPort":"/dev/ttyUSB0","serialType":"RTU-BUFFERD","serialBaudrate":"57600","serialDatabits":"8","serialStopbits":"1","serialParity":"none","serialConnectionDelay":"100","unit_id":"1","commandDelay":"1","clientTimeout":"1000","reconnectOnTimeout":true,"reconnectTimeout":"2000","parallelUnitIdsAllowed":true},{"id":"ef1705e2.32f7f8","type":"ui_group","name":"Group 4","tab":"","order":4,"disp":true,"width":6},{"id":"9cef6204.9db5","type":"ui_tab","z":"","name":"Live","icon":"dashboard","order":1,"disabled":false,"hidden":false},{"id":"d7cf976.32cda68","type":"ui_group","z":"","name":"Solar live","tab":"9cef6204.9db5","order":1,"disp":true,"width":"6","collapse":false},{"id":"e7d3897b.42b048","type":"ui_group","z":"","name":"Battery live","tab":"9cef6204.9db5","order":2,"disp":true,"width":"6","collapse":false},{"id":"920948f1.ba91d8","type":"ui_group","z":"","name":"Load Live","tab":"9cef6204.9db5","order":3,"disp":true,"width":"6","collapse":false},{"id":"655f6a48.2a9414","type":"ui_tab","z":"","name":"Mini Live","icon":"dashboard","order":1,"disabled":false,"hidden":false},{"id":"d90c8e9b.3f82f","type":"ui_group","name":"Group 1","tab":"655f6a48.2a9414","order":2,"disp":true,"width":9},{"id":"54a965d2.a114bc","type":"ui_group","name":"Group 2","tab":"655f6a48.2a9414","order":1,"disp":true,"width":9},{"id":"dec0baa6.eb6d98","type":"ui_tab","z":"","name":"Lights And ACC","icon":"dashboard","order":4,"disabled":false,"hidden":false},{"id":"8ee75809.8e9d98","type":"ui_group","z":"","name":"Lights","tab":"dec0baa6.eb6d98","order":2,"disp":true,"width":3,"collapse":false},{"id":"c557932b.1b5bd","type":"ui_group","z":"","name":"Settings","tab":"860a2d34.c92ba","disp":true,"width":"6","collapse":false},{"id":"a39db5d0.b71878","type":"ui_group","z":"","name":"Fridge Setup and USB","tab":"dec0baa6.eb6d98","order":1,"disp":true,"width":6,"collapse":true},{"id":"ddb67511.ceb128","type":"ui_group","z":"","name":"Lights","tab":"","order":2,"disp":true,"width":"6","collapse":false},{"id":"519f4487.a8f5bc","type":"ui_group","z":"","name":"left","tab":"","order":1,"disp":true,"width":"6","collapse":false},{"id":"5d654c78.014e34","type":"modbus-flex-getter","z":"e7f39cd5.4ea3e","name":"Modbus Get","showStatusActivities":false,"showErrors":false,"logIOActivities":false,"server":"982528f6.103d28","useIOFile":false,"ioFile":"","useIOForPayload":false,"emptyMsgOnFail":false,"x":130,"y":200,"wires":[["80bdeb.ccb60218"],["5cf85361.e176cc"]]},{"id":"b1025ea0.44ae4","type":"function","z":"e7f39cd5.4ea3e","name":"FC3 0x9000 [15]","func":"msg.payload = { \n    'fc': 3, \n    'unitid': 1, \n    'address': 0x9000, \n    'quantity': 15\n}\nreturn msg;","outputs":1,"noerr":0,"x":130,"y":140,"wires":[["5d654c78.014e34"]]},{"id":"5cf85361.e176cc","type":"modbus-response","z":"e7f39cd5.4ea3e","name":"0x9000 Response","registerShowMax":20,"x":350,"y":20,"wires":[]},{"id":"2a439b90.497d94","type":"switch","z":"e7f39cd5.4ea3e","name":"","property":"parts.index","propertyType":"msg","rules":[{"t":"eq","v":"0","vt":"num"},{"t":"eq","v":"1","vt":"num"},{"t":"eq","v":"2","vt":"num"},{"t":"eq","v":"3","vt":"str"},{"t":"eq","v":"4","vt":"str"},{"t":"eq","v":"5","vt":"str"},{"t":"eq","v":"6","vt":"str"},{"t":"eq","v":"7","vt":"str"},{"t":"eq","v":"8","vt":"str"},{"t":"eq","v":"9","vt":"str"},{"t":"eq","v":"10","vt":"str"},{"t":"eq","v":"11","vt":"str"},{"t":"eq","v":"12","vt":"str"},{"t":"eq","v":"13","vt":"str"},{"t":"eq","v":"14","vt":"str"}],"checkall":"false","repair":false,"outputs":15,"x":310,"y":280,"wires":[["fd1bbc71.6cd9f"],["31aad89a.0849f8"],["180769ee.afd4c6"],["86b1b115.e32ec"],["b661b8a9.ff9c18"],["f734eed2.69762"],["b25f47c5.5d6028"],["6b45f0b6.e2878"],["67f6cc0.001fd34"],["c3f43cef.9c2e6"],["6af1b1bf.bc123"],["864594b1.3bb128"],["378d589b.6bf068"],["9e31b0fe.f2a7f"],["ba409a31.e68e28"]]},{"id":"86b1b115.e32ec","type":"range","z":"e7f39cd5.4ea3e","minin":"0","maxin":"10000","minout":"0","maxout":"100","action":"scale","round":false,"property":"payload","name":"/100","x":530,"y":260,"wires":[["e23b8ac8.334ec8"]]},{"id":"80bdeb.ccb60218","type":"split","z":"e7f39cd5.4ea3e","name":"","splt":"\\n","spltType":"str","arraySplt":1,"arraySpltType":"len","stream":false,"addname":"","x":190,"y":280,"wires":[["2a439b90.497d94"]]},{"id":"e23b8ac8.334ec8","type":"ui_numeric","z":"e7f39cd5.4ea3e","name":"","label":"High Voltage Disconnect","tooltip":"","group":"c557932b.1b5bd","order":4,"width":0,"height":0,"wrap":false,"passthru":true,"topic":"","format":"{{value}} V","min":"9","max":"17","step":"0.1","x":710,"y":260,"wires":[["b076261.d20c2d8"]]},{"id":"b661b8a9.ff9c18","type":"range","z":"e7f39cd5.4ea3e","minin":"0","maxin":"10000","minout":"0","maxout":"100","action":"scale","round":false,"property":"payload","name":"/100","x":530,"y":320,"wires":[["28654cf9.5643e4"]]},{"id":"28654cf9.5643e4","type":"ui_numeric","z":"e7f39cd5.4ea3e","name":"","label":"Charging Limit","tooltip":"","group":"c557932b.1b5bd","order":5,"width":0,"height":0,"wrap":false,"passthru":true,"topic":"","format":"{{value}} V","min":"9","max":"17","step":"0.1","x":680,"y":320,"wires":[["651f59de.fd05e8"]]},{"id":"f734eed2.69762","type":"range","z":"e7f39cd5.4ea3e","minin":"0","maxin":"10000","minout":"0","maxout":"100","action":"scale","round":false,"property":"payload","name":"/100","x":530,"y":380,"wires":[["82033ebb.23e2c"]]},{"id":"82033ebb.23e2c","type":"ui_numeric","z":"e7f39cd5.4ea3e","name":"","label":"Over Voltage Reconnect ","tooltip":"","group":"c557932b.1b5bd","order":6,"width":0,"height":0,"wrap":false,"passthru":true,"topic":"","format":"{{value}} V","min":"9","max":"17","step":"0.1","x":710,"y":380,"wires":[["6e9b5601.9819f8"]]},{"id":"c6671f66.db844","type":"ui_button","z":"e7f39cd5.4ea3e","name":"","group":"c557932b.1b5bd","order":1,"width":0,"height":0,"passthru":true,"label":"Read Values","tooltip":"Click to read currently set values.","color":"","bgcolor":"","icon":"","payload":"1","payloadType":"num","topic":"","x":110,"y":500,"wires":[["b1025ea0.44ae4","484caeb5.c8715"]]},{"id":"f6041164.ca216","type":"ui_numeric","z":"e7f39cd5.4ea3e","name":"","label":"Equalization","tooltip":"","group":"c557932b.1b5bd","order":7,"width":0,"height":0,"wrap":false,"passthru":true,"topic":"","format":"{{value}} V","min":"9","max":"17","step":"0.1","x":670,"y":440,"wires":[["a7278af0.462ba8"]]},{"id":"6b45f0b6.e2878","type":"range","z":"e7f39cd5.4ea3e","minin":"0","maxin":"10000","minout":"0","maxout":"100","action":"scale","round":false,"property":"payload","name":"/100","x":530,"y":500,"wires":[["32b9ff60.bde66"]]},{"id":"32b9ff60.bde66","type":"ui_numeric","z":"e7f39cd5.4ea3e","name":"","label":"Boost","tooltip":"","group":"c557932b.1b5bd","order":8,"width":0,"height":0,"wrap":false,"passthru":true,"topic":"","format":"{{value}} V","min":"9","max":"17","step":"0.1","x":650,"y":500,"wires":[["b7062979.4d40c8"]]},{"id":"67f6cc0.001fd34","type":"range","z":"e7f39cd5.4ea3e","minin":"0","maxin":"10000","minout":"0","maxout":"100","action":"scale","round":false,"property":"payload","name":"/100","x":530,"y":560,"wires":[["b23b1b0e.48e9f8"]]},{"id":"b23b1b0e.48e9f8","type":"ui_numeric","z":"e7f39cd5.4ea3e","name":"","label":"Float","tooltip":"","group":"c557932b.1b5bd","order":9,"width":0,"height":0,"wrap":false,"passthru":true,"topic":"","format":"{{value}} V","min":"9","max":"17","step":"0.1","x":650,"y":560,"wires":[["6309b4.fbd1464c"]]},{"id":"c3f43cef.9c2e6","type":"range","z":"e7f39cd5.4ea3e","minin":"0","maxin":"10000","minout":"0","maxout":"100","action":"scale","round":false,"property":"payload","name":"/100","x":530,"y":620,"wires":[["7696560f.3bfc18"]]},{"id":"7696560f.3bfc18","type":"ui_numeric","z":"e7f39cd5.4ea3e","name":"","label":"Boost Reconnect","tooltip":"","group":"c557932b.1b5bd","order":10,"width":0,"height":0,"wrap":false,"passthru":true,"topic":"","format":"{{value}} V","min":"9","max":"17","step":"0.1","x":690,"y":620,"wires":[["306f7d0e.e39d62"]]},{"id":"6af1b1bf.bc123","type":"range","z":"e7f39cd5.4ea3e","minin":"0","maxin":"10000","minout":"0","maxout":"100","action":"scale","round":false,"property":"payload","name":"/100","x":530,"y":680,"wires":[["b4d4b151.b1dce"]]},{"id":"b4d4b151.b1dce","type":"ui_numeric","z":"e7f39cd5.4ea3e","name":"","label":"Low Voltage Reconnect","tooltip":"","group":"c557932b.1b5bd","order":11,"width":0,"height":0,"wrap":false,"passthru":true,"topic":"","format":"{{value}} V","min":"9","max":"17","step":"0.1","x":710,"y":680,"wires":[["6cc7b2ba.2af45c"]]},{"id":"864594b1.3bb128","type":"range","z":"e7f39cd5.4ea3e","minin":"0","maxin":"10000","minout":"0","maxout":"100","action":"scale","round":false,"property":"payload","name":"/100","x":530,"y":740,"wires":[["fc994f9c.144cd"]]},{"id":"fc994f9c.144cd","type":"ui_numeric","z":"e7f39cd5.4ea3e","name":"","label":"Under Voltage Recover","tooltip":"","group":"c557932b.1b5bd","order":12,"width":0,"height":0,"wrap":false,"passthru":true,"topic":"","format":"{{value}} V","min":"9","max":"17","step":"0.1","x":710,"y":740,"wires":[["af0971e7.9416c"]]},{"id":"378d589b.6bf068","type":"range","z":"e7f39cd5.4ea3e","minin":"0","maxin":"10000","minout":"0","maxout":"100","action":"scale","round":false,"property":"payload","name":"/100","x":530,"y":800,"wires":[["d6f4f43b.ea1878"]]},{"id":"d6f4f43b.ea1878","type":"ui_numeric","z":"e7f39cd5.4ea3e","name":"","label":"Under Voltage Warning","tooltip":"","group":"c557932b.1b5bd","order":13,"width":0,"height":0,"wrap":false,"passthru":true,"topic":"","format":"{{value}} V","min":"9","max":"17","step":"0.1","x":710,"y":800,"wires":[["d481a62e.c987c8"]]},{"id":"9e31b0fe.f2a7f","type":"range","z":"e7f39cd5.4ea3e","minin":"0","maxin":"10000","minout":"0","maxout":"100","action":"scale","round":false,"property":"payload","name":"/100","x":530,"y":860,"wires":[["3ca11ce9.8c57b4"]]},{"id":"3ca11ce9.8c57b4","type":"ui_numeric","z":"e7f39cd5.4ea3e","name":"","label":"Low Voltage Disconnect","tooltip":"","group":"c557932b.1b5bd","order":14,"width":0,"height":0,"wrap":false,"passthru":true,"topic":"","format":"{{value}} V","min":"9","max":"17","step":"0.1","x":710,"y":860,"wires":[["4582847c.cf59fc"]]},{"id":"ba409a31.e68e28","type":"range","z":"e7f39cd5.4ea3e","minin":"0","maxin":"10000","minout":"0","maxout":"100","action":"scale","round":false,"property":"payload","name":"/100","x":530,"y":920,"wires":[["81296c10.1029a"]]},{"id":"81296c10.1029a","type":"ui_numeric","z":"e7f39cd5.4ea3e","name":"","label":"Discharge Limit","tooltip":"","group":"c557932b.1b5bd","order":15,"width":0,"height":0,"wrap":false,"passthru":true,"topic":"","format":"{{value}} V","min":"9","max":"17","step":"0.1","x":680,"y":920,"wires":[["802da022.dd682"]]},{"id":"b076261.d20c2d8","type":"range","z":"e7f39cd5.4ea3e","minin":"0","maxin":"100","minout":"0","maxout":"10000","action":"scale","round":true,"property":"payload","name":"*100","x":890,"y":260,"wires":[["71e5c3c5.6f233c"]]},{"id":"651f59de.fd05e8","type":"range","z":"e7f39cd5.4ea3e","minin":"0","maxin":"100","minout":"0","maxout":"10000","action":"scale","round":true,"property":"payload","name":"*100","x":890,"y":320,"wires":[["fafc3d26.424b8"]]},{"id":"6e9b5601.9819f8","type":"range","z":"e7f39cd5.4ea3e","minin":"0","maxin":"100","minout":"0","maxout":"10000","action":"scale","round":true,"property":"payload","name":"*100","x":890,"y":380,"wires":[["5553cfbd.3f96"]]},{"id":"b7062979.4d40c8","type":"range","z":"e7f39cd5.4ea3e","minin":"0","maxin":"100","minout":"0","maxout":"10000","action":"scale","round":true,"property":"payload","name":"*100","x":890,"y":500,"wires":[["f7d8abb0.1783f8"]]},{"id":"6309b4.fbd1464c","type":"range","z":"e7f39cd5.4ea3e","minin":"0","maxin":"100","minout":"0","maxout":"10000","action":"scale","round":true,"property":"payload","name":"*100","x":890,"y":560,"wires":[["96b5d038.2d0ba"]]},{"id":"306f7d0e.e39d62","type":"range","z":"e7f39cd5.4ea3e","minin":"0","maxin":"100","minout":"0","maxout":"10000","action":"scale","round":true,"property":"payload","name":"*100","x":890,"y":620,"wires":[["6337acf.b630354"]]},{"id":"6cc7b2ba.2af45c","type":"range","z":"e7f39cd5.4ea3e","minin":"0","maxin":"100","minout":"0","maxout":"10000","action":"scale","round":true,"property":"payload","name":"*100","x":890,"y":680,"wires":[["a1e63263.1fbb8"]]},{"id":"af0971e7.9416c","type":"range","z":"e7f39cd5.4ea3e","minin":"0","maxin":"100","minout":"0","maxout":"10000","action":"scale","round":true,"property":"payload","name":"*100","x":890,"y":740,"wires":[["661f2784.2e5aa8"]]},{"id":"d481a62e.c987c8","type":"range","z":"e7f39cd5.4ea3e","minin":"0","maxin":"100","minout":"0","maxout":"10000","action":"scale","round":true,"property":"payload","name":"*100","x":890,"y":800,"wires":[["2af9ffda.d619b"]]},{"id":"4582847c.cf59fc","type":"range","z":"e7f39cd5.4ea3e","minin":"0","maxin":"100","minout":"0","maxout":"10000","action":"scale","round":true,"property":"payload","name":"*100","x":890,"y":860,"wires":[["3256bcfe.2e2ef4"]]},{"id":"802da022.dd682","type":"range","z":"e7f39cd5.4ea3e","minin":"0","maxin":"100","minout":"0","maxout":"10000","action":"scale","round":true,"property":"payload","name":"*100","x":890,"y":920,"wires":[["657697c6.fe9ad8"]]},{"id":"fd1bbc71.6cd9f","type":"ui_dropdown","z":"e7f39cd5.4ea3e","name":"","label":"Battery Type","tooltip":"Sealed, Gel and flooded have standard profiles which you can see by clicking Read Values.  To change these values, set this option to User.","place":"","group":"c557932b.1b5bd","order":2,"width":0,"height":0,"passthru":true,"options":[{"label":"User","value":"0","type":"str"},{"label":"Sealed","value":"1","type":"str"},{"label":"Gel","value":"2","type":"str"},{"label":"Flooded","value":"3","type":"str"}],"payload":"","topic":"","x":670,"y":80,"wires":[["628e0cf4.dff904"]]},{"id":"31aad89a.0849f8","type":"ui_numeric","z":"e7f39cd5.4ea3e","name":"","label":"Battery Capacity","tooltip":"Battery Capacity in amp hours","group":"c557932b.1b5bd","order":3,"width":0,"height":0,"wrap":false,"passthru":true,"topic":"","format":"{{value}} Ah","min":0,"max":"1000","step":1,"x":680,"y":140,"wires":[["c01634dd.6826d8"]]},{"id":"d76b3637.dcfdd8","type":"change","z":"e7f39cd5.4ea3e","name":"Set flow.9000","rules":[{"t":"set","p":"9000","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1040,"y":80,"wires":[[]]},{"id":"79e94b3e.d7c434","type":"ui_button","z":"e7f39cd5.4ea3e","name":"","group":"c557932b.1b5bd","order":18,"width":0,"height":0,"passthru":true,"label":"Write Values","tooltip":"As long as all the options are valid, your settings will be saved in the charge controller","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"","x":270,"y":1100,"wires":[["d8df66c2.67ac68","43f6da4.6cbd424"]]},{"id":"c01634dd.6826d8","type":"change","z":"e7f39cd5.4ea3e","name":"Set flow.9001","rules":[{"t":"set","p":"9001","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1040,"y":140,"wires":[[]]},{"id":"d8df66c2.67ac68","type":"function","z":"e7f39cd5.4ea3e","name":"Build Array 0x9000 [15]","func":"var EP9000=flow.get('9000') || 0;\nvar EP9001=flow.get('9001') || 0;\nvar EP9002=flow.get('9002') || 0;\nvar EP9003=flow.get('9003') || 0;\nvar EP9004=flow.get('9004') || 0;\nvar EP9005=flow.get('9005') || 0;\nvar EP9006=flow.get('9006') || 0;\nvar EP9007=flow.get('9007') || 0;\nvar EP9008=flow.get('9008') || 0;\nvar EP9009=flow.get('9009') || 0;\nvar EP900A=flow.get('900A') || 0;\nvar EP900B=flow.get('900B') || 0;\nvar EP900C=flow.get('900C') || 0;\nvar EP900D=flow.get('900D') || 0;\nvar EP900E=flow.get('900E') || 0;\n\nvar list = [ EP9000, EP9001, EP9002, EP9003, EP9004, EP9005, EP9006, EP9007, EP9008, EP9009, EP900A, EP900B, EP900C, EP900D, EP900E];\nvar msg1 = {payload:list};\n\nreturn msg1","outputs":1,"noerr":0,"x":590,"y":1100,"wires":[["9c0a6f13.4946e"]]},{"id":"5e9bba8d.472dc4","type":"inject","z":"e7f39cd5.4ea3e","name":"2","topic":"","payload":"2","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":90,"y":1100,"wires":[["79e94b3e.d7c434"]]},{"id":"657697c6.fe9ad8","type":"change","z":"e7f39cd5.4ea3e","name":"Set flow.900E","rules":[{"t":"set","p":"900E","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1040,"y":920,"wires":[[]]},{"id":"8b926761.731d18","type":"inject","z":"e7f39cd5.4ea3e","name":"Fake Read Values","topic":"","payload":"[0, 172, 300, 1600, 1450, 1500, 1400, 1390, 1380, 1320, 1260, 1220, 1200, 1150, 1060 ]","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":270,"y":660,"wires":[["80bdeb.ccb60218"]]},{"id":"180769ee.afd4c6","type":"change","z":"e7f39cd5.4ea3e","name":"Set flow.9002","rules":[{"t":"set","p":"9002","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1040,"y":200,"wires":[[]]},{"id":"71e5c3c5.6f233c","type":"change","z":"e7f39cd5.4ea3e","name":"Set flow.9003","rules":[{"t":"set","p":"9003","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1040,"y":260,"wires":[[]]},{"id":"fafc3d26.424b8","type":"change","z":"e7f39cd5.4ea3e","name":"Set flow.9004","rules":[{"t":"set","p":"9004","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1040,"y":320,"wires":[[]]},{"id":"5553cfbd.3f96","type":"change","z":"e7f39cd5.4ea3e","name":"Set flow.9005","rules":[{"t":"set","p":"9005","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1040,"y":380,"wires":[[]]},{"id":"7a8cddaa.cc6504","type":"change","z":"e7f39cd5.4ea3e","name":"Set flow.9006","rules":[{"t":"set","p":"9006","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1040,"y":440,"wires":[[]]},{"id":"f7d8abb0.1783f8","type":"change","z":"e7f39cd5.4ea3e","name":"Set flow.9007","rules":[{"t":"set","p":"9007","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1040,"y":500,"wires":[[]]},{"id":"96b5d038.2d0ba","type":"change","z":"e7f39cd5.4ea3e","name":"Set flow.9008","rules":[{"t":"set","p":"9008","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1040,"y":560,"wires":[[]]},{"id":"6337acf.b630354","type":"change","z":"e7f39cd5.4ea3e","name":"Set flow.9009","rules":[{"t":"set","p":"9009","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1040,"y":620,"wires":[[]]},{"id":"a1e63263.1fbb8","type":"change","z":"e7f39cd5.4ea3e","name":"Set flow.900A","rules":[{"t":"set","p":"900A","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1040,"y":680,"wires":[[]]},{"id":"661f2784.2e5aa8","type":"change","z":"e7f39cd5.4ea3e","name":"Set flow.900B","rules":[{"t":"set","p":"900B","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1040,"y":740,"wires":[[]]},{"id":"2af9ffda.d619b","type":"change","z":"e7f39cd5.4ea3e","name":"Set flow.900C","rules":[{"t":"set","p":"900C","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1040,"y":800,"wires":[[]]},{"id":"3256bcfe.2e2ef4","type":"change","z":"e7f39cd5.4ea3e","name":"Set flow.900D","rules":[{"t":"set","p":"900D","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1040,"y":860,"wires":[[]]},{"id":"628e0cf4.dff904","type":"change","z":"e7f39cd5.4ea3e","name":"Battery Type","rules":[{"t":"set","p":"topic","pt":"msg","to":"9000","tot":"str"},{"t":"change","p":"payload","pt":"msg","from":"User","fromt":"str","to":"0","tot":"str"},{"t":"change","p":"payload","pt":"msg","from":"Sealed","fromt":"str","to":"1","tot":"num"},{"t":"change","p":"payload","pt":"msg","from":"Gel","fromt":"str","to":"2","tot":"num"},{"t":"change","p":"payload","pt":"msg","from":"Flooded","fromt":"str","to":"3","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":850,"y":80,"wires":[["d76b3637.dcfdd8"]]},{"id":"b25f47c5.5d6028","type":"range","z":"e7f39cd5.4ea3e","minin":"0","maxin":"10000","minout":"0","maxout":"100","action":"scale","round":false,"property":"payload","name":"/100","x":530,"y":440,"wires":[["f6041164.ca216"]]},{"id":"a7278af0.462ba8","type":"range","z":"e7f39cd5.4ea3e","minin":"0","maxin":"100","minout":"0","maxout":"10000","action":"scale","round":true,"property":"payload","name":"*100","x":890,"y":440,"wires":[["7a8cddaa.cc6504"]]},{"id":"9c0a6f13.4946e","type":"modbus-write","z":"e7f39cd5.4ea3e","name":"","showStatusActivities":false,"showErrors":false,"unitid":"1","dataType":"MHoldingRegisters","adr":"0x9000","quantity":"15","server":"982528f6.103d28","x":800,"y":1100,"wires":[[],[]]},{"id":"e92ae7a4.2514e8","type":"function","z":"e7f39cd5.4ea3e","name":"Build Array 0x906B [2]","func":"var EP906B=flow.get('906B') || 0;\nvar EP906C=flow.get('906C') || 0;\n\nvar list = [ EP906B, EP906C];\nvar msg1 = {payload:list};\n\nreturn msg1","outputs":1,"noerr":0,"x":580,"y":1160,"wires":[["3cad9e93.ddab72"]]},{"id":"3cad9e93.ddab72","type":"modbus-write","z":"e7f39cd5.4ea3e","name":"","showStatusActivities":false,"showErrors":false,"unitid":"1","dataType":"MHoldingRegisters","adr":"0x906B","quantity":"2","server":"982528f6.103d28","x":800,"y":1160,"wires":[[],[]]},{"id":"43f6da4.6cbd424","type":"delay","z":"e7f39cd5.4ea3e","name":"","pauseType":"delay","timeout":"1","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":380,"y":1160,"wires":[["e92ae7a4.2514e8"]]},{"id":"d8cee5ac.11e7f8","type":"modbus-flex-getter","z":"e7f39cd5.4ea3e","name":"Modbus Get","showStatusActivities":false,"showErrors":false,"logIOActivities":false,"server":"982528f6.103d28","useIOFile":false,"ioFile":"","useIOForPayload":false,"emptyMsgOnFail":false,"x":130,"y":900,"wires":[["6590af6d.e19e"],["270d74e5.c4d67c"]]},{"id":"8bdcafad.b0944","type":"function","z":"e7f39cd5.4ea3e","name":"FC3 0x906B [2]","func":"msg.payload = { \n    'fc': 3, \n    'unitid': 1, \n    'address': 0x906B, \n    'quantity': 2\n}\nreturn msg;","outputs":1,"noerr":0,"x":120,"y":840,"wires":[["d8cee5ac.11e7f8"]]},{"id":"58effe18.a24b7","type":"switch","z":"e7f39cd5.4ea3e","name":"","property":"parts.index","propertyType":"msg","rules":[{"t":"eq","v":"0","vt":"num"},{"t":"eq","v":"1","vt":"str"}],"checkall":"false","repair":false,"outputs":2,"x":310,"y":980,"wires":[["db08a7cd.14c778"],["e38a8aba.423038"]]},{"id":"6590af6d.e19e","type":"split","z":"e7f39cd5.4ea3e","name":"","splt":"\\n","spltType":"str","arraySplt":1,"arraySpltType":"len","stream":false,"addname":"","x":190,"y":980,"wires":[["58effe18.a24b7"]]},{"id":"db08a7cd.14c778","type":"ui_numeric","z":"e7f39cd5.4ea3e","name":"","label":"Equalization Duration","tooltip":"","group":"c557932b.1b5bd","order":16,"width":0,"height":0,"wrap":false,"passthru":true,"topic":"","format":"{{value}} m","min":"60","max":"120","step":"1","x":700,"y":980,"wires":[["4a4bd6e6.4983f8"]]},{"id":"e38a8aba.423038","type":"ui_numeric","z":"e7f39cd5.4ea3e","name":"","label":"Boost Duration","tooltip":"","group":"c557932b.1b5bd","order":17,"width":0,"height":0,"wrap":false,"passthru":true,"topic":"","format":"{{value}} m","min":"60","max":"120","step":"1","x":680,"y":1040,"wires":[["60b12393.7fa54c"]]},{"id":"4a4bd6e6.4983f8","type":"change","z":"e7f39cd5.4ea3e","name":"Set flow.906B","rules":[{"t":"set","p":"906B","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1040,"y":980,"wires":[[]]},{"id":"60b12393.7fa54c","type":"change","z":"e7f39cd5.4ea3e","name":"Set flow.906C","rules":[{"t":"set","p":"906C","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1040,"y":1040,"wires":[[]]},{"id":"35c98c3f.310ec4","type":"inject","z":"e7f39cd5.4ea3e","name":"","topic":"","payload":"1","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":90,"y":440,"wires":[["c6671f66.db844"]]},{"id":"270d74e5.c4d67c","type":"modbus-response","z":"e7f39cd5.4ea3e","name":"0x906B Response","registerShowMax":20,"x":230,"y":1040,"wires":[]},{"id":"484caeb5.c8715","type":"delay","z":"e7f39cd5.4ea3e","name":"","pauseType":"delay","timeout":"1","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":100,"y":780,"wires":[["8bdcafad.b0944"]]},{"id":"68f2ae0f.fd952","type":"modbus-response","z":"885612fa.4cfda","name":"","registerShowMax":20,"x":390,"y":560,"wires":[]},{"id":"239ba607.27d24a","type":"inject","z":"885612fa.4cfda","name":"","topic":"","payload":"","payloadType":"str","repeat":"1","crontab":"","once":false,"onceDelay":0.1,"x":90,"y":80,"wires":[["d0a08137.c2b88"]]},{"id":"d0a08137.c2b88","type":"function","z":"885612fa.4cfda","name":"function node request 19 address ","func":"msg.payload = { \n    'fc': 4, \n    'unitid': 1, \n    'address': 0x3100, \n    'quantity': 18\n}\n\n\n\nreturn msg;","outputs":1,"noerr":0,"x":300,"y":80,"wires":[["9a6572d3.21f32"]]},{"id":"9a6572d3.21f32","type":"modbus-flex-getter","z":"885612fa.4cfda","name":"","showStatusActivities":false,"showErrors":false,"logIOActivities":false,"server":"982528f6.103d28","useIOFile":false,"ioFile":"","useIOForPayload":false,"emptyMsgOnFail":false,"x":270,"y":140,"wires":[["68f2ae0f.fd952","26b4b079.46f7d"],[]]},{"id":"78f7d064.eb15b","type":"switch","z":"885612fa.4cfda","name":"","property":"parts.index","propertyType":"msg","rules":[{"t":"eq","v":"0","vt":"str"},{"t":"eq","v":"1","vt":"str"},{"t":"eq","v":"2","vt":"str"},{"t":"eq","v":"3","vt":"str"},{"t":"eq","v":"4","vt":"str"},{"t":"eq","v":"5","vt":"str"},{"t":"eq","v":"6","vt":"str"},{"t":"eq","v":"7","vt":"str"},{"t":"eq","v":"8","vt":"str"},{"t":"eq","v":"9","vt":"str"},{"t":"eq","v":"10","vt":"str"},{"t":"eq","v":"11","vt":"str"},{"t":"eq","v":"12","vt":"str"},{"t":"eq","v":"13","vt":"str"},{"t":"eq","v":"14","vt":"str"},{"t":"eq","v":"15","vt":"str"},{"t":"eq","v":"16","vt":"str"},{"t":"eq","v":"17","vt":"str"},{"t":"eq","v":"18","vt":"str"}],"checkall":"false","repair":false,"outputs":19,"x":650,"y":240,"wires":[["8a44459d.8094c8"],["8f25a57f.a467c8"],["3728208e.81412"],[],["ed83db7c.cccfc8"],["a47dcd6c.c16c5"],["a32c0507.3acf58"],[],[],["cc6e6900.3a06c8"],["97acf7f.023e608"],[],[],[],[],[],["a80f0c7c.923f6"],[],[]]},{"id":"6275bb02.6c5c04","type":"range","z":"885612fa.4cfda","minin":"0","maxin":"10000","minout":"0","maxout":"100","action":"scale","round":false,"property":"payload","name":"/100","x":970,"y":80,"wires":[["317bcff1.d2886","cf48f90e.c5cfc8","f70ed47e.20dde8"]]},{"id":"26b4b079.46f7d","type":"split","z":"885612fa.4cfda","name":"","splt":"\\n","spltType":"str","arraySplt":1,"arraySpltType":"len","stream":false,"addname":"topic","x":490,"y":240,"wires":[["78f7d064.eb15b"]]},{"id":"8a44459d.8094c8","type":"change","z":"885612fa.4cfda","name":"Vsolar","rules":[{"t":"set","p":"topic","pt":"msg","to":"Vsolar","tot":"str"},{"t":"set","p":"Vsolar","pt":"flow","to":"payload","tot":"msg"},{"t":"set","p":"measurement","pt":"msg","to":"solarVolts","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":810,"y":80,"wires":[["6275bb02.6c5c04"]]},{"id":"baf83e2c.5642e","type":"range","z":"885612fa.4cfda","minin":"0","maxin":"10000","minout":"0","maxout":"100","action":"scale","round":false,"property":"payload","name":"/100","x":970,"y":120,"wires":[["aa0d3559.13a4c8","cf48f90e.c5cfc8","7d7c7678.131e48"]]},{"id":"8f25a57f.a467c8","type":"change","z":"885612fa.4cfda","name":"Ampssolar","rules":[{"t":"set","p":"topic","pt":"msg","to":"Asolar","tot":"str"},{"t":"set","p":"Asolar","pt":"flow","to":"payload","tot":"msg"},{"t":"set","p":"measurement","pt":"msg","to":"solarAmps","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":830,"y":120,"wires":[["baf83e2c.5642e"]]},{"id":"fed18996.193e88","type":"range","z":"885612fa.4cfda","minin":"0","maxin":"10000","minout":"0","maxout":"100","action":"scale","round":false,"property":"payload","name":"/100","x":970,"y":160,"wires":[["d3f1c491.3af588","cf48f90e.c5cfc8"]]},{"id":"3728208e.81412","type":"change","z":"885612fa.4cfda","name":"WattsSolar","rules":[{"t":"set","p":"topic","pt":"msg","to":"wsolar","tot":"str"},{"t":"set","p":"wsolar","pt":"flow","to":"payload","tot":"msg"},{"t":"set","p":"measurement","pt":"msg","to":"solarWatts","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":830,"y":160,"wires":[["fed18996.193e88"]]},{"id":"317bcff1.d2886","type":"ui_gauge","z":"885612fa.4cfda","name":"","group":"d7cf976.32cda68","order":1,"width":0,"height":0,"gtype":"gage","title":"Solar Volts","label":"Volts","format":"{{value | number:2}}v","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":1510,"y":80,"wires":[]},{"id":"aa0d3559.13a4c8","type":"ui_gauge","z":"885612fa.4cfda","name":"","group":"d7cf976.32cda68","order":2,"width":0,"height":0,"gtype":"gage","title":"Solar Amps","label":"Amps","format":"{{value | number:2}}A","min":0,"max":"12","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":1510,"y":120,"wires":[]},{"id":"d3f1c491.3af588","type":"ui_gauge","z":"885612fa.4cfda","name":"","group":"d7cf976.32cda68","order":3,"width":0,"height":0,"gtype":"gage","title":"Solar Watts","label":"Watts","format":"{{value | number:2}}w","min":0,"max":"600","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":1510,"y":160,"wires":[]},{"id":"802f1ff4.2776c","type":"range","z":"885612fa.4cfda","minin":"0","maxin":"10000","minout":"0","maxout":"100","action":"scale","round":false,"property":"payload","name":"/100","x":970,"y":200,"wires":[["3b14aaae.359ce6","cf48f90e.c5cfc8","79bf8a3e.76da24","e015909.d97ae7"]]},{"id":"ed83db7c.cccfc8","type":"change","z":"885612fa.4cfda","name":"BattVolts","rules":[{"t":"set","p":"topic","pt":"msg","to":"VBatt","tot":"str"},{"t":"set","p":"VBatt","pt":"flow","to":"payload","tot":"msg"},{"t":"set","p":"measurement","pt":"msg","to":"VBatt","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":820,"y":200,"wires":[["802f1ff4.2776c"]]},{"id":"3b14aaae.359ce6","type":"ui_gauge","z":"885612fa.4cfda","name":"","group":"e7d3897b.42b048","order":3,"width":0,"height":0,"gtype":"gage","title":"Battery Volts","label":"Volts","format":"{{value | number:2}}V","min":"11","max":"16","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":1510,"y":200,"wires":[]},{"id":"295b9c00.6fa734","type":"range","z":"885612fa.4cfda","minin":"0","maxin":"10000","minout":"0","maxout":"100","action":"scale","round":false,"property":"payload","name":"/100","x":970,"y":240,"wires":[["e39b1c5d.9ae6b","cf48f90e.c5cfc8","b1bacc0e.ea0de"]]},{"id":"a47dcd6c.c16c5","type":"change","z":"885612fa.4cfda","name":"BattAmps","rules":[{"t":"set","p":"topic","pt":"msg","to":"ABatt","tot":"str"},{"t":"set","p":"ABatt","pt":"flow","to":"payload","tot":"msg"},{"t":"set","p":"measurement","pt":"msg","to":"ABatt","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":820,"y":240,"wires":[["295b9c00.6fa734"]]},{"id":"4e4ad787.8b4478","type":"ui_gauge","z":"885612fa.4cfda","name":"","group":"e7d3897b.42b048","order":3,"width":0,"height":0,"gtype":"gage","title":"Battery Watts","label":"Watts","format":"{{value | number:2}}w","min":"0","max":"600","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":1530,"y":280,"wires":[]},{"id":"6e083f09.10999","type":"range","z":"885612fa.4cfda","minin":"0","maxin":"10000","minout":"0","maxout":"100","action":"scale","round":false,"property":"payload","name":"/100","x":970,"y":280,"wires":[["4e4ad787.8b4478","cf48f90e.c5cfc8"]]},{"id":"a32c0507.3acf58","type":"change","z":"885612fa.4cfda","name":"BattWatts","rules":[{"t":"set","p":"topic","pt":"msg","to":"WBatt","tot":"str"},{"t":"set","p":"WBatt","pt":"flow","to":"payload","tot":"msg"},{"t":"set","p":"measurement","pt":"msg","to":"WBatt","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":820,"y":280,"wires":[["6e083f09.10999"]]},{"id":"e39b1c5d.9ae6b","type":"ui_gauge","z":"885612fa.4cfda","name":"","group":"e7d3897b.42b048","order":3,"width":0,"height":0,"gtype":"gage","title":"Battery Amps","label":"Amps","format":"{{value | number:2}}A","min":"0","max":"40","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":1510,"y":240,"wires":[]},{"id":"aff669de.d2ab58","type":"range","z":"885612fa.4cfda","minin":"0","maxin":"10000","minout":"0","maxout":"100","action":"scale","round":false,"property":"payload","name":"/100","x":970,"y":320,"wires":[["761f3d4e.0a7a14","cf48f90e.c5cfc8"]]},{"id":"cc6e6900.3a06c8","type":"change","z":"885612fa.4cfda","name":"LoadAmps","rules":[{"t":"set","p":"topic","pt":"msg","to":"LaBatt","tot":"str"},{"t":"set","p":"LaBatt","pt":"flow","to":"payload","tot":"msg"},{"t":"set","p":"measurement","pt":"msg","to":"LaBatt","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":830,"y":320,"wires":[["aff669de.d2ab58"]]},{"id":"6fda9e19.1583d","type":"ui_gauge","z":"885612fa.4cfda","name":"","group":"920948f1.ba91d8","order":3,"width":0,"height":0,"gtype":"gage","title":"Load Watts","label":"Watts","format":"{{value | number:2}}w","min":"0","max":"600","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":1510,"y":360,"wires":[]},{"id":"d9a5d6f4.493a78","type":"range","z":"885612fa.4cfda","minin":"0","maxin":"10000","minout":"0","maxout":"100","action":"scale","round":false,"property":"payload","name":"/100","x":970,"y":360,"wires":[["6fda9e19.1583d","cf48f90e.c5cfc8"]]},{"id":"97acf7f.023e608","type":"change","z":"885612fa.4cfda","name":"LoadWatts","rules":[{"t":"set","p":"topic","pt":"msg","to":"LwBatt","tot":"str"},{"t":"set","p":"LwBatt","pt":"flow","to":"payload","tot":"msg"},{"t":"set","p":"measurement","pt":"msg","to":"LwBatt","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":830,"y":360,"wires":[["d9a5d6f4.493a78"]]},{"id":"761f3d4e.0a7a14","type":"ui_gauge","z":"885612fa.4cfda","name":"","group":"920948f1.ba91d8","order":3,"width":0,"height":0,"gtype":"gage","title":"Load Amps","label":"Amps","format":"{{value | number:2}}A","min":"0","max":"40","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":1510,"y":320,"wires":[]},{"id":"e00d5d3e.f113e","type":"range","z":"885612fa.4cfda","minin":"0","maxin":"10000","minout":"0","maxout":"100","action":"scale","round":false,"property":"payload","name":"/100","x":970,"y":400,"wires":[["cf48f90e.c5cfc8"]]},{"id":"a80f0c7c.923f6","type":"change","z":"885612fa.4cfda","name":"Battery temp","rules":[{"t":"set","p":"topic","pt":"msg","to":"Tbatt","tot":"str"},{"t":"set","p":"Tbatt","pt":"flow","to":"payload","tot":"msg"},{"t":"set","p":"measurement","pt":"msg","to":"Tbatt","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":830,"y":400,"wires":[["e00d5d3e.f113e"]]},{"id":"cf48f90e.c5cfc8","type":"influxdb out","z":"885612fa.4cfda","influxdb":"890bbb16.d0abc8","name":"Influx DB INput","measurement":"","precision":"s","retentionPolicy":"","x":1520,"y":540,"wires":[]},{"id":"79bf8a3e.76da24","type":"ui_gauge","z":"885612fa.4cfda","name":"","group":"d90c8e9b.3f82f","order":2,"width":0,"height":0,"gtype":"gage","title":"Battery Volts","label":"Volts","format":"{{value | number:2}}V","min":"11","max":"16","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":1530,"y":680,"wires":[]},{"id":"b1bacc0e.ea0de","type":"ui_gauge","z":"885612fa.4cfda","name":"","group":"54a965d2.a114bc","order":2,"width":0,"height":0,"gtype":"gage","title":"Battery Amps","label":"Amps","format":"{{value | number:2}}A","min":"0","max":"40","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":1530,"y":720,"wires":[]},{"id":"f70ed47e.20dde8","type":"ui_gauge","z":"885612fa.4cfda","name":"","group":"d90c8e9b.3f82f","order":1,"width":0,"height":0,"gtype":"gage","title":"Solar Volts","label":"Volts","format":"{{value | number:2}}v","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":1530,"y":760,"wires":[]},{"id":"7d7c7678.131e48","type":"ui_gauge","z":"885612fa.4cfda","name":"","group":"54a965d2.a114bc","order":1,"width":0,"height":0,"gtype":"gage","title":"Solar Amps","label":"Amps","format":"{{value | number:2}}A","min":0,"max":"12","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":1530,"y":800,"wires":[]},{"id":"e015909.d97ae7","type":"link out","z":"885612fa.4cfda","name":"","links":["6e903e3c.6bc1b"],"x":1415,"y":420,"wires":[]},{"id":"6e903e3c.6bc1b","type":"link in","z":"b74759b2.0e7988","name":"Battery Voltage Link In","links":["e015909.d97ae7"],"x":35,"y":40,"wires":[["f36bb317.a635a","3597b87a.ebcef8"]]},{"id":"d964673.1be2898","type":"rpi-gpio out","z":"b74759b2.0e7988","name":"","pin":"18","set":true,"level":"1","freq":"","out":"out","x":1240,"y":120,"wires":[]},{"id":"14d5c334.75370d","type":"link in","z":"b74759b2.0e7988","name":"","links":["db69d45b.1dab58"],"x":35,"y":80,"wires":[[]]},{"id":"4782c40b.15611c","type":"ui_switch","z":"b74759b2.0e7988","name":"","label":"Lounge","tooltip":"","group":"8ee75809.8e9d98","order":1,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"0","onvalueType":"str","onicon":"fa-lightbulb-o","oncolor":"green","offvalue":"1","offvalueType":"str","officon":"fa-lightbulb-o","offcolor":"red","x":220,"y":360,"wires":[["7f52aa7d.2ba0a4"]]},{"id":"e91ae174.b285","type":"ui_switch","z":"b74759b2.0e7988","name":"","label":"Kitchen","tooltip":"","group":"8ee75809.8e9d98","order":2,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"0","onvalueType":"str","onicon":"fa-lightbulb-o","oncolor":"green","offvalue":"1","offvalueType":"str","officon":"fa-lightbulb-o","offcolor":"red","x":220,"y":420,"wires":[["7357ed48.bd2514"]]},{"id":"a81d120d.62a2f","type":"ui_switch","z":"b74759b2.0e7988","name":"","label":"Bedroom","tooltip":"","group":"8ee75809.8e9d98","order":3,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"0","onvalueType":"str","onicon":"fa-lightbulb-o","oncolor":"green","offvalue":"1","offvalueType":"str","officon":"fa-lightbulb-o","offcolor":"red","x":220,"y":480,"wires":[["cbb2949b.2389a8"]]},{"id":"7f52aa7d.2ba0a4","type":"rpi-gpio out","z":"b74759b2.0e7988","name":"","pin":"22","set":true,"level":"1","freq":"","out":"out","x":500,"y":360,"wires":[]},{"id":"7357ed48.bd2514","type":"rpi-gpio out","z":"b74759b2.0e7988","name":"","pin":"13","set":true,"level":"1","freq":"","out":"out","x":500,"y":420,"wires":[]},{"id":"cbb2949b.2389a8","type":"rpi-gpio out","z":"b74759b2.0e7988","name":"","pin":"11","set":true,"level":"1","freq":"","out":"out","x":500,"y":480,"wires":[]},{"id":"b6948191.dd9cc","type":"ui_switch","z":"b74759b2.0e7988","name":"","label":"USB Sockets","tooltip":"","group":"a39db5d0.b71878","order":3,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"0","onvalueType":"str","onicon":"fa-arrow-circle-up","oncolor":"green","offvalue":"1","offvalueType":"str","officon":"fa-arrow-circle-down","offcolor":"red","x":210,"y":300,"wires":[["45ee1072.4a897"]],"info":"# hello"},{"id":"45ee1072.4a897","type":"rpi-gpio out","z":"b74759b2.0e7988","name":"","pin":"16","set":true,"level":"1","freq":"","out":"out","x":500,"y":300,"wires":[]},{"id":"e1f69a25.36ee38","type":"ui_switch","z":"b74759b2.0e7988","name":"","label":"Water Pump","tooltip":"","group":"a39db5d0.b71878","order":4,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"0","onvalueType":"str","onicon":"fa-arrow-circle-up","oncolor":"green","offvalue":"1","offvalueType":"str","officon":"fa-arrow-circle-down","offcolor":"red","x":210,"y":540,"wires":[["f3811aaf.400478"]]},{"id":"f3811aaf.400478","type":"rpi-gpio out","z":"b74759b2.0e7988","name":"","pin":"12","set":true,"level":"1","freq":"","out":"out","x":500,"y":540,"wires":[]},{"id":"8ca3b93e.1bbda8","type":"ui_switch","z":"b74759b2.0e7988","name":"","label":"Battery LED's","tooltip":"","group":"8ee75809.8e9d98","order":4,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"0","onvalueType":"str","onicon":"fa-lightbulb-o","oncolor":"green","offvalue":"1","offvalueType":"str","officon":"fa-lightbulb-o","offcolor":"red","x":200,"y":600,"wires":[["354cc4cb.62bc3c"]]},{"id":"dca35147.26f77","type":"ui_switch","z":"b74759b2.0e7988","name":"","label":"Garage LED's","tooltip":"","group":"8ee75809.8e9d98","order":5,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"0","onvalueType":"str","onicon":"fa-lightbulb-o","oncolor":"green","offvalue":"1","offvalueType":"str","officon":"fa-lightbulb-o","offcolor":"red","x":200,"y":660,"wires":[["99badc1.defdb2"]]},{"id":"354cc4cb.62bc3c","type":"rpi-gpio out","z":"b74759b2.0e7988","name":"","pin":"29","set":true,"level":"1","freq":"","out":"out","x":500,"y":600,"wires":[]},{"id":"99badc1.defdb2","type":"rpi-gpio out","z":"b74759b2.0e7988","name":"","pin":"7","set":true,"level":"1","freq":"","out":"out","x":500,"y":660,"wires":[]},{"id":"91bddcd1.6ad4d","type":"inject","z":"885612fa.4cfda","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":1920,"y":200,"wires":[["e147d71b.592408"]]},{"id":"e147d71b.592408","type":"debug","z":"885612fa.4cfda","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":2160,"y":200,"wires":[]},{"id":"f36bb317.a635a","type":"function","z":"b74759b2.0e7988","name":"gate","func":"// read (or initialize) gate state\nvar gateIsOpen = context.get(\"gateIsOpen\") || false;\n\n//message is from switch\nif(msg.topic === \"gate\"){\n gateIsOpen = msg.payload;\n // store the gate state \n context.set(\"gateIsOpen\",gateIsOpen);\n}\n\n// message is from other sources\nelse{\n if(gateIsOpen === true){\n node.status({fill:\"green\",shape:\"ring\",text:\"gate is open\"});\n // send through the original message\n return msg;\n }\n else{\n //just display the status of gate\n node.status({fill:\"red\",shape:\"ring\",text:\"gate is closed\"});\n }\n}\n\n","outputs":1,"noerr":0,"x":230,"y":80,"wires":[["8c6835c2.c9d808"]]},{"id":"fbecbc4a.0c0bc","type":"ui_switch","z":"b74759b2.0e7988","name":"","label":"Auto fridge Switch on / off","tooltip":"","group":"a39db5d0.b71878","order":4,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"gate","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":230,"y":20,"wires":[["f36bb317.a635a"]]},{"id":"3597b87a.ebcef8","type":"ui_text","z":"b74759b2.0e7988","group":"a39db5d0.b71878","order":3,"width":0,"height":0,"name":"","label":"Battery Check Voltage for auto ON-OFF","format":"{{msg.payload | number:2}} volts","layout":"col-center","x":340,"y":140,"wires":[]},{"id":"58d49b2e.071bb4","type":"ui_switch","z":"b74759b2.0e7988","name":"","label":"Master Fridge On Off","tooltip":"","group":"a39db5d0.b71878","order":2,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"0","onvalueType":"num","onicon":"","oncolor":"","offvalue":"1","offvalueType":"num","officon":"","offcolor":"","x":940,"y":140,"wires":[["d964673.1be2898"]]},{"id":"8c6835c2.c9d808","type":"function","z":"b74759b2.0e7988","name":"conditional","func":"if (msg.payload > 13.7) {\n  msg.payload = 0\n} else {\n  msg.payload = 1;\n}\n\nreturn msg;","outputs":1,"noerr":0,"x":430,"y":80,"wires":[["8802feb9.f4715"]]},{"id":"8802feb9.f4715","type":"rbe","z":"b74759b2.0e7988","name":"","func":"rbe","gap":"","start":"","inout":"out","property":"payload","x":670,"y":120,"wires":[["58d49b2e.071bb4"]]},{"id":"65692c0c.d58cc4","type":"comment","z":"b74759b2.0e7988","name":"this here will check the voltage of the batterys is above 13.7 volts  and turn the fridge on and off if solar charging","info":"","x":950,"y":80,"wires":[]},{"id":"e166b893.107e28","type":"comment","z":"b74759b2.0e7988","name":"visual check voltage","info":"","x":250,"y":180,"wires":[]},{"id":"875247d.225cdb8","type":"comment","z":"b74759b2.0e7988","name":"when restarting Raspberry pi reset gate by triggering auto fridge on and off","info":"","x":640,"y":20,"wires":[]},{"id":"6cbc56a2.20eea8","type":"comment","z":"885612fa.4cfda","name":"this dumps all data to INFLUXDB database if you got it installed","info":"","x":1510,"y":580,"wires":[]},{"id":"504a8623.59b948","type":"comment","z":"885612fa.4cfda","name":"this is for fridge check voltage ","info":"","x":1560,"y":420,"wires":[]},{"id":"12101427.7909bc","type":"comment","z":"885612fa.4cfda","name":"this get all the data from epever tracer via USB XR drivers every 2 seconds","info":"","x":300,"y":180,"wires":[]},{"id":"99be70cb.f4304","type":"comment","z":"885612fa.4cfda","name":"the data will display here from your charge controler","info":"","x":450,"y":620,"wires":[]},{"id":"e717774f.64f678","type":"comment","z":"885612fa.4cfda","name":"the swich splits that data from that data address in turn and sends it through some covertion to make it readable like / by 100","info":"","x":670,"y":440,"wires":[]},{"id":"b5d2c4b4.17ea28","type":"comment","z":"885612fa.4cfda","name":"here is one groupe of gauge's for live for ipad or larger screen","info":"","x":1460,"y":40,"wires":[]},{"id":"98ae40e3.30e06","type":"comment","z":"885612fa.4cfda","name":"here is one groupe of gauge's for mini live for mobile phone ","info":"","x":1450,"y":840,"wires":[]},{"id":"6e69d349.15c78c","type":"comment","z":"885612fa.4cfda","name":"this string in the Function node looks up 18 adress in order from the first inputed in the string-----------  msg.payload = {      'fc': 4,      'unitid': 1,      'address': 0x3100,      'quantity': 18 }    return msg;","info":"","x":600,"y":40,"wires":[]},{"id":"1119ec32.241a34","type":"comment","z":"b74759b2.0e7988","name":"you can change the voltage to your liking  in conditional function node ","info":"","x":620,"y":200,"wires":[]},{"id":"f75693a9.846f2","type":"comment","z":"e7f39cd5.4ea3e","name":"DO NOT PLAY with any of THIS, This is a WARNING unless you know what you are doing","info":"","x":330,"y":540,"wires":[]},{"id":"361ad9d0.19d146","type":"comment","z":"e7f39cd5.4ea3e","name":"this changes setting on your charge controller","info":"","x":190,"y":620,"wires":[]},{"id":"e2e4472c.a14608","type":"comment","z":"e7f39cd5.4ea3e","name":"you could damage you batterys always check the data sheet for your battery before changing anything","info":"","x":370,"y":720,"wires":[]}]