Epever Tracer with 8 relay lights fridge temp and voltage control.json
[{"id":"dec8ae4b.784ce","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"ca468d45.99033","type":"tab","label":"Settings","disabled":false,"info":""},{"id":"b87bc2a6.9f87","type":"tab","label":"Switchs","disabled":false,"info":""},{"id":"b23b86b1.6ca5f8","type":"tab","label":"Flow 2","disabled":false,"info":""},{"id":"e8e39e82.d49c8","type":"ui_base","theme":{"name":"theme-custom","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"Times New Roman,Times,serif","reset":false},"themeState":{"base-color":{"default":"#4B7930","value":"#4B7930","edited":false},"page-titlebar-backgroundColor":{"value":"#00009f","edited":true},"page-backgroundColor":{"value":"#000000","edited":true},"page-sidebar-backgroundColor":{"value":"#000000","edited":false},"group-textColor":{"value":"#ffff00","edited":true},"group-borderColor":{"value":"#000000","edited":true},"group-backgroundColor":{"value":"#000000","edited":true},"widget-textColor":{"value":"#ffff00","edited":true},"widget-backgroundColor":{"value":"#ff0000","edited":true},"widget-borderColor":{"value":"#000000","edited":true},"base-font":{"value":"Times New Roman,Times,serif"}},"angularTheme":{"primary":"indigo","accents":"blue","warn":"red","background":"grey"}},"site":{"name":"Van Solar","hideToolbar":"true","allowSwipe":"true","lockMenu":"true","allowTempTheme":"false","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"982528f6.103d28","type":"modbus-client","z":"","name":"VansolarRS485","clienttype":"simpleser","bufferCommands":true,"stateLogEnabled":false,"queueLogEnabled":false,"tcpHost":"127.0.0.1","tcpPort":"502","tcpType":"DEFAULT","serialPort":"/dev/ttyXRUSB0","serialType":"RTU","serialBaudrate":"115200","serialDatabits":"8","serialStopbits":"1","serialParity":"none","serialConnectionDelay":"100","unit_id":1,"commandDelay":1,"clientTimeout":1000,"reconnectOnTimeout":true,"reconnectTimeout":2000,"parallelUnitIdsAllowed":true},{"id":"890bbb16.d0abc8","type":"influxdb","z":"","hostname":"127.0.0.1","port":"8086","protocol":"http","database":"vansolar","name":"","usetls":false,"tls":""},{"id":"860a2d34.c92ba","type":"ui_tab","z":"","name":"Settings","icon":"dashboard","order":3,"disabled":false,"hidden":false},{"id":"9cef6204.9db5","type":"ui_tab","z":"","name":"Live","icon":"dashboard","order":2,"disabled":false,"hidden":false},{"id":"d7cf976.32cda68","type":"ui_group","z":"","name":"Solar live","tab":"9cef6204.9db5","order":1,"disp":true,"width":"6","collapse":false},{"id":"e7d3897b.42b048","type":"ui_group","z":"","name":"Battery live","tab":"9cef6204.9db5","order":2,"disp":true,"width":"6","collapse":false},{"id":"920948f1.ba91d8","type":"ui_group","z":"","name":"Load Live","tab":"9cef6204.9db5","order":3,"disp":true,"width":"6","collapse":false},{"id":"506e6fb.b96f69","type":"ui_tab","z":"","name":"Mini Live","icon":"dashboard","order":1,"disabled":false,"hidden":false},{"id":"f9d5c2b1.4cf5e","type":"ui_group","name":"Group 1","tab":"506e6fb.b96f69","order":2,"disp":true,"width":9},{"id":"63e20d6d.99a264","type":"ui_group","name":"Group 2","tab":"506e6fb.b96f69","order":1,"disp":true,"width":9},{"id":"d0ba5d09.5d7c","type":"ui_tab","z":"","name":"Lights And ACC","icon":"dashboard","order":4,"disabled":false,"hidden":false},{"id":"9e549dc.11d356","type":"ui_group","z":"","name":"Lights","tab":"d0ba5d09.5d7c","order":2,"disp":true,"width":3,"collapse":false},{"id":"68c9b7f7.433dd8","type":"ui_group","z":"","name":"Settings","tab":"860a2d34.c92ba","disp":true,"width":"6","collapse":false},{"id":"8ffba23a.98b82","type":"ui_group","z":"","name":"Fridge Setup and USB","tab":"d0ba5d09.5d7c","order":1,"disp":true,"width":6,"collapse":true},{"id":"a956ab9d.923628","type":"modbus-flex-getter","z":"ca468d45.99033","name":"Modbus Get","showStatusActivities":false,"showErrors":false,"logIOActivities":false,"server":"982528f6.103d28","useIOFile":false,"ioFile":"","useIOForPayload":false,"emptyMsgOnFail":false,"x":130,"y":200,"wires":[["efde44b8.bc1c28"],["b4a378fe.a36df8"]]},{"id":"62d9be04.30793","type":"function","z":"ca468d45.99033","name":"FC3 0x9000 [15]","func":"msg.payload = { \n    'fc': 3, \n    'unitid': 1, \n    'address': 0x9000, \n    'quantity': 15\n}\nreturn msg;","outputs":1,"noerr":0,"x":130,"y":140,"wires":[["a956ab9d.923628"]]},{"id":"b4a378fe.a36df8","type":"modbus-response","z":"ca468d45.99033","name":"0x9000 Response","registerShowMax":20,"x":350,"y":20,"wires":[]},{"id":"fadd5859.550e08","type":"switch","z":"ca468d45.99033","name":"","property":"parts.index","propertyType":"msg","rules":[{"t":"eq","v":"0","vt":"num"},{"t":"eq","v":"1","vt":"num"},{"t":"eq","v":"2","vt":"num"},{"t":"eq","v":"3","vt":"str"},{"t":"eq","v":"4","vt":"str"},{"t":"eq","v":"5","vt":"str"},{"t":"eq","v":"6","vt":"str"},{"t":"eq","v":"7","vt":"str"},{"t":"eq","v":"8","vt":"str"},{"t":"eq","v":"9","vt":"str"},{"t":"eq","v":"10","vt":"str"},{"t":"eq","v":"11","vt":"str"},{"t":"eq","v":"12","vt":"str"},{"t":"eq","v":"13","vt":"str"},{"t":"eq","v":"14","vt":"str"}],"checkall":"false","repair":false,"outputs":15,"x":310,"y":280,"wires":[["8735d08.983af3"],["56c2996a.3b1138"],["b700820f.a20ff"],["4956b80f.082898"],["c98e391b.d1d338"],["fbb7945d.b499a8"],["65178dca.cebf94"],["ba83cc0d.7192f"],["cdb0e8e5.909448"],["d19d8528.4d91b8"],["3a56d86a.024b58"],["77b91c0e.01f634"],["3581d80.d735c28"],["f4a11bf5.9ed348"],["eb6ca998.184ec8"]]},{"id":"4956b80f.082898","type":"range","z":"ca468d45.99033","minin":"0","maxin":"10000","minout":"0","maxout":"100","action":"scale","round":false,"property":"payload","name":"/100","x":530,"y":260,"wires":[["6a965798.d35a48"]]},{"id":"efde44b8.bc1c28","type":"split","z":"ca468d45.99033","name":"","splt":"\\n","spltType":"str","arraySplt":1,"arraySpltType":"len","stream":false,"addname":"","x":190,"y":280,"wires":[["fadd5859.550e08"]]},{"id":"6a965798.d35a48","type":"ui_numeric","z":"ca468d45.99033","name":"","label":"High Voltage Disconnect","tooltip":"","group":"68c9b7f7.433dd8","order":4,"width":0,"height":0,"wrap":false,"passthru":true,"topic":"","format":"{{value}} V","min":"9","max":"17","step":"0.1","x":710,"y":260,"wires":[["8b92e2c1.b3da7"]]},{"id":"c98e391b.d1d338","type":"range","z":"ca468d45.99033","minin":"0","maxin":"10000","minout":"0","maxout":"100","action":"scale","round":false,"property":"payload","name":"/100","x":530,"y":320,"wires":[["1ce1ef57.c55331"]]},{"id":"1ce1ef57.c55331","type":"ui_numeric","z":"ca468d45.99033","name":"","label":"Charging Limit","tooltip":"","group":"68c9b7f7.433dd8","order":5,"width":0,"height":0,"wrap":false,"passthru":true,"topic":"","format":"{{value}} V","min":"9","max":"17","step":"0.1","x":680,"y":320,"wires":[["d71f1eba.01448"]]},{"id":"fbb7945d.b499a8","type":"range","z":"ca468d45.99033","minin":"0","maxin":"10000","minout":"0","maxout":"100","action":"scale","round":false,"property":"payload","name":"/100","x":530,"y":380,"wires":[["21c16f8e.0d0cb"]]},{"id":"21c16f8e.0d0cb","type":"ui_numeric","z":"ca468d45.99033","name":"","label":"Over Voltage Reconnect ","tooltip":"","group":"68c9b7f7.433dd8","order":6,"width":0,"height":0,"wrap":false,"passthru":true,"topic":"","format":"{{value}} V","min":"9","max":"17","step":"0.1","x":710,"y":380,"wires":[["75c07453.258c3c"]]},{"id":"fe1d0c48.d9184","type":"ui_button","z":"ca468d45.99033","name":"","group":"68c9b7f7.433dd8","order":1,"width":0,"height":0,"passthru":true,"label":"Read Values","tooltip":"Click to read currently set values.","color":"","bgcolor":"","icon":"","payload":"1","payloadType":"num","topic":"","x":110,"y":500,"wires":[["62d9be04.30793","c6fe9d13.a2186"]]},{"id":"4208953c.6729bc","type":"ui_numeric","z":"ca468d45.99033","name":"","label":"Equalization","tooltip":"","group":"68c9b7f7.433dd8","order":7,"width":0,"height":0,"wrap":false,"passthru":true,"topic":"","format":"{{value}} V","min":"9","max":"17","step":"0.1","x":670,"y":440,"wires":[["ec64243d.eb9428"]]},{"id":"ba83cc0d.7192f","type":"range","z":"ca468d45.99033","minin":"0","maxin":"10000","minout":"0","maxout":"100","action":"scale","round":false,"property":"payload","name":"/100","x":530,"y":500,"wires":[["59c59fb.295ce6"]]},{"id":"59c59fb.295ce6","type":"ui_numeric","z":"ca468d45.99033","name":"","label":"Boost","tooltip":"","group":"68c9b7f7.433dd8","order":8,"width":0,"height":0,"wrap":false,"passthru":true,"topic":"","format":"{{value}} V","min":"9","max":"17","step":"0.1","x":650,"y":500,"wires":[["db5c04f3.2b22c8"]]},{"id":"cdb0e8e5.909448","type":"range","z":"ca468d45.99033","minin":"0","maxin":"10000","minout":"0","maxout":"100","action":"scale","round":false,"property":"payload","name":"/100","x":530,"y":560,"wires":[["8822d880.93f898"]]},{"id":"8822d880.93f898","type":"ui_numeric","z":"ca468d45.99033","name":"","label":"Float","tooltip":"","group":"68c9b7f7.433dd8","order":9,"width":0,"height":0,"wrap":false,"passthru":true,"topic":"","format":"{{value}} V","min":"9","max":"17","step":"0.1","x":650,"y":560,"wires":[["bfc64822.f519a8"]]},{"id":"d19d8528.4d91b8","type":"range","z":"ca468d45.99033","minin":"0","maxin":"10000","minout":"0","maxout":"100","action":"scale","round":false,"property":"payload","name":"/100","x":530,"y":620,"wires":[["df550b0d.f59f88"]]},{"id":"df550b0d.f59f88","type":"ui_numeric","z":"ca468d45.99033","name":"","label":"Boost Reconnect","tooltip":"","group":"68c9b7f7.433dd8","order":10,"width":0,"height":0,"wrap":false,"passthru":true,"topic":"","format":"{{value}} V","min":"9","max":"17","step":"0.1","x":690,"y":620,"wires":[["98208bf9.ddca08"]]},{"id":"3a56d86a.024b58","type":"range","z":"ca468d45.99033","minin":"0","maxin":"10000","minout":"0","maxout":"100","action":"scale","round":false,"property":"payload","name":"/100","x":530,"y":680,"wires":[["4b532b5d.55c234"]]},{"id":"4b532b5d.55c234","type":"ui_numeric","z":"ca468d45.99033","name":"","label":"Low Voltage Reconnect","tooltip":"","group":"68c9b7f7.433dd8","order":11,"width":0,"height":0,"wrap":false,"passthru":true,"topic":"","format":"{{value}} V","min":"9","max":"17","step":"0.1","x":710,"y":680,"wires":[["13f15869.1b1f68"]]},{"id":"77b91c0e.01f634","type":"range","z":"ca468d45.99033","minin":"0","maxin":"10000","minout":"0","maxout":"100","action":"scale","round":false,"property":"payload","name":"/100","x":530,"y":740,"wires":[["cb0c19f0.015588"]]},{"id":"cb0c19f0.015588","type":"ui_numeric","z":"ca468d45.99033","name":"","label":"Under Voltage Recover","tooltip":"","group":"68c9b7f7.433dd8","order":12,"width":0,"height":0,"wrap":false,"passthru":true,"topic":"","format":"{{value}} V","min":"9","max":"17","step":"0.1","x":710,"y":740,"wires":[["8141f08.82fed1"]]},{"id":"3581d80.d735c28","type":"range","z":"ca468d45.99033","minin":"0","maxin":"10000","minout":"0","maxout":"100","action":"scale","round":false,"property":"payload","name":"/100","x":530,"y":800,"wires":[["d30bb8b.bc85a48"]]},{"id":"d30bb8b.bc85a48","type":"ui_numeric","z":"ca468d45.99033","name":"","label":"Under Voltage Warning","tooltip":"","group":"68c9b7f7.433dd8","order":13,"width":0,"height":0,"wrap":false,"passthru":true,"topic":"","format":"{{value}} V","min":"9","max":"17","step":"0.1","x":710,"y":800,"wires":[["caa2efa2.c4a78"]]},{"id":"f4a11bf5.9ed348","type":"range","z":"ca468d45.99033","minin":"0","maxin":"10000","minout":"0","maxout":"100","action":"scale","round":false,"property":"payload","name":"/100","x":530,"y":860,"wires":[["d3cc7c54.e7753"]]},{"id":"d3cc7c54.e7753","type":"ui_numeric","z":"ca468d45.99033","name":"","label":"Low Voltage Disconnect","tooltip":"","group":"68c9b7f7.433dd8","order":14,"width":0,"height":0,"wrap":false,"passthru":true,"topic":"","format":"{{value}} V","min":"9","max":"17","step":"0.1","x":710,"y":860,"wires":[["61da1347.772afc"]]},{"id":"eb6ca998.184ec8","type":"range","z":"ca468d45.99033","minin":"0","maxin":"10000","minout":"0","maxout":"100","action":"scale","round":false,"property":"payload","name":"/100","x":530,"y":920,"wires":[["618872.8222179"]]},{"id":"618872.8222179","type":"ui_numeric","z":"ca468d45.99033","name":"","label":"Discharge Limit","tooltip":"","group":"68c9b7f7.433dd8","order":15,"width":0,"height":0,"wrap":false,"passthru":true,"topic":"","format":"{{value}} V","min":"9","max":"17","step":"0.1","x":680,"y":920,"wires":[["ea795c82.19722"]]},{"id":"8b92e2c1.b3da7","type":"range","z":"ca468d45.99033","minin":"0","maxin":"100","minout":"0","maxout":"10000","action":"scale","round":true,"property":"payload","name":"*100","x":890,"y":260,"wires":[["feac5cdc.16f51"]]},{"id":"d71f1eba.01448","type":"range","z":"ca468d45.99033","minin":"0","maxin":"100","minout":"0","maxout":"10000","action":"scale","round":true,"property":"payload","name":"*100","x":890,"y":320,"wires":[["894b2782.467048"]]},{"id":"75c07453.258c3c","type":"range","z":"ca468d45.99033","minin":"0","maxin":"100","minout":"0","maxout":"10000","action":"scale","round":true,"property":"payload","name":"*100","x":890,"y":380,"wires":[["4f7c8a71.e81964"]]},{"id":"db5c04f3.2b22c8","type":"range","z":"ca468d45.99033","minin":"0","maxin":"100","minout":"0","maxout":"10000","action":"scale","round":true,"property":"payload","name":"*100","x":890,"y":500,"wires":[["d863c863.089d18"]]},{"id":"bfc64822.f519a8","type":"range","z":"ca468d45.99033","minin":"0","maxin":"100","minout":"0","maxout":"10000","action":"scale","round":true,"property":"payload","name":"*100","x":890,"y":560,"wires":[["59bb6450.14904c"]]},{"id":"98208bf9.ddca08","type":"range","z":"ca468d45.99033","minin":"0","maxin":"100","minout":"0","maxout":"10000","action":"scale","round":true,"property":"payload","name":"*100","x":890,"y":620,"wires":[["8b35d016.4f43b"]]},{"id":"13f15869.1b1f68","type":"range","z":"ca468d45.99033","minin":"0","maxin":"100","minout":"0","maxout":"10000","action":"scale","round":true,"property":"payload","name":"*100","x":890,"y":680,"wires":[["2106b1e7.efd2fe"]]},{"id":"8141f08.82fed1","type":"range","z":"ca468d45.99033","minin":"0","maxin":"100","minout":"0","maxout":"10000","action":"scale","round":true,"property":"payload","name":"*100","x":890,"y":740,"wires":[["aac04a02.3c3d78"]]},{"id":"caa2efa2.c4a78","type":"range","z":"ca468d45.99033","minin":"0","maxin":"100","minout":"0","maxout":"10000","action":"scale","round":true,"property":"payload","name":"*100","x":890,"y":800,"wires":[["c2082e93.db194"]]},{"id":"61da1347.772afc","type":"range","z":"ca468d45.99033","minin":"0","maxin":"100","minout":"0","maxout":"10000","action":"scale","round":true,"property":"payload","name":"*100","x":890,"y":860,"wires":[["17960aff.a51e65"]]},{"id":"ea795c82.19722","type":"range","z":"ca468d45.99033","minin":"0","maxin":"100","minout":"0","maxout":"10000","action":"scale","round":true,"property":"payload","name":"*100","x":890,"y":920,"wires":[["970a147b.6f30c8"]]},{"id":"8735d08.983af3","type":"ui_dropdown","z":"ca468d45.99033","name":"","label":"Battery Type","tooltip":"Sealed, Gel and flooded have standard profiles which you can see by clicking Read Values.  To change these values, set this option to User.","place":"","group":"68c9b7f7.433dd8","order":2,"width":0,"height":0,"passthru":true,"options":[{"label":"User","value":"0","type":"str"},{"label":"Sealed","value":"1","type":"str"},{"label":"Gel","value":"2","type":"str"},{"label":"Flooded","value":"3","type":"str"}],"payload":"","topic":"","x":670,"y":80,"wires":[["97982c84.752c1"]]},{"id":"56c2996a.3b1138","type":"ui_numeric","z":"ca468d45.99033","name":"","label":"Battery Capacity","tooltip":"Battery Capacity in amp hours","group":"68c9b7f7.433dd8","order":3,"width":0,"height":0,"wrap":false,"passthru":true,"topic":"","format":"{{value}} Ah","min":0,"max":"1000","step":1,"x":680,"y":140,"wires":[["3c9db5c8.8b14fa"]]},{"id":"56a00e10.cd2a5","type":"change","z":"ca468d45.99033","name":"Set flow.9000","rules":[{"t":"set","p":"9000","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1040,"y":80,"wires":[[]]},{"id":"89de0d13.ef568","type":"ui_button","z":"ca468d45.99033","name":"","group":"68c9b7f7.433dd8","order":18,"width":0,"height":0,"passthru":true,"label":"Write Values","tooltip":"As long as all the options are valid, your settings will be saved in the charge controller","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"","x":270,"y":1100,"wires":[["12eb0950.3eeb57","167e1706.9c9719"]]},{"id":"3c9db5c8.8b14fa","type":"change","z":"ca468d45.99033","name":"Set flow.9001","rules":[{"t":"set","p":"9001","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1040,"y":140,"wires":[[]]},{"id":"12eb0950.3eeb57","type":"function","z":"ca468d45.99033","name":"Build Array 0x9000 [15]","func":"var EP9000=flow.get('9000') || 0;\nvar EP9001=flow.get('9001') || 0;\nvar EP9002=flow.get('9002') || 0;\nvar EP9003=flow.get('9003') || 0;\nvar EP9004=flow.get('9004') || 0;\nvar EP9005=flow.get('9005') || 0;\nvar EP9006=flow.get('9006') || 0;\nvar EP9007=flow.get('9007') || 0;\nvar EP9008=flow.get('9008') || 0;\nvar EP9009=flow.get('9009') || 0;\nvar EP900A=flow.get('900A') || 0;\nvar EP900B=flow.get('900B') || 0;\nvar EP900C=flow.get('900C') || 0;\nvar EP900D=flow.get('900D') || 0;\nvar EP900E=flow.get('900E') || 0;\n\nvar list = [ EP9000, EP9001, EP9002, EP9003, EP9004, EP9005, EP9006, EP9007, EP9008, EP9009, EP900A, EP900B, EP900C, EP900D, EP900E];\nvar msg1 = {payload:list};\n\nreturn msg1","outputs":1,"noerr":0,"x":590,"y":1100,"wires":[["ed32310.32c9cd"]]},{"id":"b862552c.719ad8","type":"inject","z":"ca468d45.99033","name":"2","topic":"","payload":"2","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":90,"y":1100,"wires":[["89de0d13.ef568"]]},{"id":"970a147b.6f30c8","type":"change","z":"ca468d45.99033","name":"Set flow.900E","rules":[{"t":"set","p":"900E","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1040,"y":920,"wires":[[]]},{"id":"27a64612.747b5a","type":"inject","z":"ca468d45.99033","name":"Fake Read Values","topic":"","payload":"[0, 172, 300, 1600, 1450, 1500, 1400, 1390, 1380, 1320, 1260, 1220, 1200, 1150, 1060 ]","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":270,"y":660,"wires":[["efde44b8.bc1c28"]]},{"id":"b700820f.a20ff","type":"change","z":"ca468d45.99033","name":"Set flow.9002","rules":[{"t":"set","p":"9002","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1040,"y":200,"wires":[[]]},{"id":"feac5cdc.16f51","type":"change","z":"ca468d45.99033","name":"Set flow.9003","rules":[{"t":"set","p":"9003","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1040,"y":260,"wires":[[]]},{"id":"894b2782.467048","type":"change","z":"ca468d45.99033","name":"Set flow.9004","rules":[{"t":"set","p":"9004","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1040,"y":320,"wires":[[]]},{"id":"4f7c8a71.e81964","type":"change","z":"ca468d45.99033","name":"Set flow.9005","rules":[{"t":"set","p":"9005","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1040,"y":380,"wires":[[]]},{"id":"a66fb6c1.0a80b8","type":"change","z":"ca468d45.99033","name":"Set flow.9006","rules":[{"t":"set","p":"9006","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1040,"y":440,"wires":[[]]},{"id":"d863c863.089d18","type":"change","z":"ca468d45.99033","name":"Set flow.9007","rules":[{"t":"set","p":"9007","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1040,"y":500,"wires":[[]]},{"id":"59bb6450.14904c","type":"change","z":"ca468d45.99033","name":"Set flow.9008","rules":[{"t":"set","p":"9008","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1040,"y":560,"wires":[[]]},{"id":"8b35d016.4f43b","type":"change","z":"ca468d45.99033","name":"Set flow.9009","rules":[{"t":"set","p":"9009","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1040,"y":620,"wires":[[]]},{"id":"2106b1e7.efd2fe","type":"change","z":"ca468d45.99033","name":"Set flow.900A","rules":[{"t":"set","p":"900A","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1040,"y":680,"wires":[[]]},{"id":"aac04a02.3c3d78","type":"change","z":"ca468d45.99033","name":"Set flow.900B","rules":[{"t":"set","p":"900B","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1040,"y":740,"wires":[[]]},{"id":"c2082e93.db194","type":"change","z":"ca468d45.99033","name":"Set flow.900C","rules":[{"t":"set","p":"900C","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1040,"y":800,"wires":[[]]},{"id":"17960aff.a51e65","type":"change","z":"ca468d45.99033","name":"Set flow.900D","rules":[{"t":"set","p":"900D","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1040,"y":860,"wires":[[]]},{"id":"97982c84.752c1","type":"change","z":"ca468d45.99033","name":"Battery Type","rules":[{"t":"set","p":"topic","pt":"msg","to":"9000","tot":"str"},{"t":"change","p":"payload","pt":"msg","from":"User","fromt":"str","to":"0","tot":"str"},{"t":"change","p":"payload","pt":"msg","from":"Sealed","fromt":"str","to":"1","tot":"num"},{"t":"change","p":"payload","pt":"msg","from":"Gel","fromt":"str","to":"2","tot":"num"},{"t":"change","p":"payload","pt":"msg","from":"Flooded","fromt":"str","to":"3","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":850,"y":80,"wires":[["56a00e10.cd2a5"]]},{"id":"65178dca.cebf94","type":"range","z":"ca468d45.99033","minin":"0","maxin":"10000","minout":"0","maxout":"100","action":"scale","round":false,"property":"payload","name":"/100","x":530,"y":440,"wires":[["4208953c.6729bc"]]},{"id":"ec64243d.eb9428","type":"range","z":"ca468d45.99033","minin":"0","maxin":"100","minout":"0","maxout":"10000","action":"scale","round":true,"property":"payload","name":"*100","x":890,"y":440,"wires":[["a66fb6c1.0a80b8"]]},{"id":"ed32310.32c9cd","type":"modbus-write","z":"ca468d45.99033","name":"","showStatusActivities":false,"showErrors":false,"unitid":"1","dataType":"MHoldingRegisters","adr":"0x9000","quantity":"15","server":"982528f6.103d28","x":800,"y":1100,"wires":[[],[]]},{"id":"9fb93afa.7cdfe8","type":"function","z":"ca468d45.99033","name":"Build Array 0x906B [2]","func":"var EP906B=flow.get('906B') || 0;\nvar EP906C=flow.get('906C') || 0;\n\nvar list = [ EP906B, EP906C];\nvar msg1 = {payload:list};\n\nreturn msg1","outputs":1,"noerr":0,"x":580,"y":1160,"wires":[["b1eed35.de59b3"]]},{"id":"b1eed35.de59b3","type":"modbus-write","z":"ca468d45.99033","name":"","showStatusActivities":false,"showErrors":false,"unitid":"1","dataType":"MHoldingRegisters","adr":"0x906B","quantity":"2","server":"982528f6.103d28","x":800,"y":1160,"wires":[[],[]]},{"id":"167e1706.9c9719","type":"delay","z":"ca468d45.99033","name":"","pauseType":"delay","timeout":"1","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":380,"y":1160,"wires":[["9fb93afa.7cdfe8"]]},{"id":"dc0fe183.021a2","type":"modbus-flex-getter","z":"ca468d45.99033","name":"Modbus Get","showStatusActivities":false,"showErrors":false,"logIOActivities":false,"server":"982528f6.103d28","useIOFile":false,"ioFile":"","useIOForPayload":false,"emptyMsgOnFail":false,"x":130,"y":900,"wires":[["a6a508f9.5550c8"],["e6a4e804.0b0968"]]},{"id":"ccf8920d.450a7","type":"function","z":"ca468d45.99033","name":"FC3 0x906B [2]","func":"msg.payload = { \n    'fc': 3, \n    'unitid': 1, \n    'address': 0x906B, \n    'quantity': 2\n}\nreturn msg;","outputs":1,"noerr":0,"x":120,"y":840,"wires":[["dc0fe183.021a2"]]},{"id":"7b960cd7.475814","type":"switch","z":"ca468d45.99033","name":"","property":"parts.index","propertyType":"msg","rules":[{"t":"eq","v":"0","vt":"num"},{"t":"eq","v":"1","vt":"str"}],"checkall":"false","repair":false,"outputs":2,"x":310,"y":980,"wires":[["863acea7.e542c"],["fc95c7b8.178d48"]]},{"id":"a6a508f9.5550c8","type":"split","z":"ca468d45.99033","name":"","splt":"\\n","spltType":"str","arraySplt":1,"arraySpltType":"len","stream":false,"addname":"","x":190,"y":980,"wires":[["7b960cd7.475814"]]},{"id":"863acea7.e542c","type":"ui_numeric","z":"ca468d45.99033","name":"","label":"Equalization Duration","tooltip":"","group":"68c9b7f7.433dd8","order":16,"width":0,"height":0,"wrap":false,"passthru":true,"topic":"","format":"{{value}} m","min":"60","max":"120","step":"1","x":700,"y":980,"wires":[["634d3e34.60c74"]]},{"id":"fc95c7b8.178d48","type":"ui_numeric","z":"ca468d45.99033","name":"","label":"Boost Duration","tooltip":"","group":"68c9b7f7.433dd8","order":17,"width":0,"height":0,"wrap":false,"passthru":true,"topic":"","format":"{{value}} m","min":"60","max":"120","step":"1","x":680,"y":1040,"wires":[["4eb295a3.85951c"]]},{"id":"634d3e34.60c74","type":"change","z":"ca468d45.99033","name":"Set flow.906B","rules":[{"t":"set","p":"906B","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1040,"y":980,"wires":[[]]},{"id":"4eb295a3.85951c","type":"change","z":"ca468d45.99033","name":"Set flow.906C","rules":[{"t":"set","p":"906C","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1040,"y":1040,"wires":[[]]},{"id":"a9eed908.78da08","type":"inject","z":"ca468d45.99033","name":"","topic":"","payload":"1","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":90,"y":440,"wires":[["fe1d0c48.d9184"]]},{"id":"e6a4e804.0b0968","type":"modbus-response","z":"ca468d45.99033","name":"0x906B Response","registerShowMax":20,"x":230,"y":1040,"wires":[]},{"id":"c6fe9d13.a2186","type":"delay","z":"ca468d45.99033","name":"","pauseType":"delay","timeout":"1","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":100,"y":780,"wires":[["ccf8920d.450a7"]]},{"id":"b56d2184.23346","type":"modbus-response","z":"dec8ae4b.784ce","name":"","registerShowMax":20,"x":390,"y":560,"wires":[]},{"id":"25a8f8f2.c0fb58","type":"inject","z":"dec8ae4b.784ce","name":"","topic":"","payload":"","payloadType":"str","repeat":"1","crontab":"","once":false,"onceDelay":0.1,"x":110,"y":80,"wires":[["d7a4ca8e.eb1258"]]},{"id":"d7a4ca8e.eb1258","type":"function","z":"dec8ae4b.784ce","name":"","func":"msg.payload = { \n    'fc': 4, \n    'unitid': 1, \n    'address': 0x3100, \n    'quantity': 18\n}\n\n\n\nreturn msg;","outputs":1,"noerr":0,"x":250,"y":80,"wires":[["bffd889c.238a18"]]},{"id":"bffd889c.238a18","type":"modbus-flex-getter","z":"dec8ae4b.784ce","name":"","showStatusActivities":false,"showErrors":false,"logIOActivities":false,"server":"982528f6.103d28","useIOFile":false,"ioFile":"","useIOForPayload":false,"emptyMsgOnFail":false,"x":430,"y":80,"wires":[["b56d2184.23346","432cf587.db15ac"],[]]},{"id":"6545add.1405354","type":"switch","z":"dec8ae4b.784ce","name":"","property":"parts.index","propertyType":"msg","rules":[{"t":"eq","v":"0","vt":"str"},{"t":"eq","v":"1","vt":"str"},{"t":"eq","v":"2","vt":"str"},{"t":"eq","v":"3","vt":"str"},{"t":"eq","v":"4","vt":"str"},{"t":"eq","v":"5","vt":"str"},{"t":"eq","v":"6","vt":"str"},{"t":"eq","v":"7","vt":"str"},{"t":"eq","v":"8","vt":"str"},{"t":"eq","v":"9","vt":"str"},{"t":"eq","v":"10","vt":"str"},{"t":"eq","v":"11","vt":"str"},{"t":"eq","v":"12","vt":"str"},{"t":"eq","v":"13","vt":"str"},{"t":"eq","v":"14","vt":"str"},{"t":"eq","v":"15","vt":"str"},{"t":"eq","v":"16","vt":"str"},{"t":"eq","v":"17","vt":"str"},{"t":"eq","v":"18","vt":"str"}],"checkall":"false","repair":false,"outputs":19,"x":650,"y":240,"wires":[["5b9ba73d.2660c8"],["1d67dc76.d358c4"],["f6844271.a5a0a"],[],["29de4916.dd0006"],["5477c691.a0fba8"],["843845d4.ed8a98"],[],[],["2bbfbea4.619dd2"],["e2a19d9e.99c51"],[],[],[],[],[],["528d98ea.977098"],[],[]]},{"id":"86f7ce7f.358a","type":"range","z":"dec8ae4b.784ce","minin":"0","maxin":"10000","minout":"0","maxout":"100","action":"scale","round":false,"property":"payload","name":"/100","x":970,"y":80,"wires":[["fccd91b2.cb87","ffc346fd.8ae2c8","88e6bec5.b06e7"]]},{"id":"432cf587.db15ac","type":"split","z":"dec8ae4b.784ce","name":"","splt":"\\n","spltType":"str","arraySplt":1,"arraySpltType":"len","stream":false,"addname":"topic","x":490,"y":240,"wires":[["6545add.1405354"]]},{"id":"5b9ba73d.2660c8","type":"change","z":"dec8ae4b.784ce","name":"Vsolar","rules":[{"t":"set","p":"topic","pt":"msg","to":"Vsolar","tot":"str"},{"t":"set","p":"Vsolar","pt":"flow","to":"payload","tot":"msg"},{"t":"set","p":"measurement","pt":"msg","to":"solarVolts","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":810,"y":80,"wires":[["86f7ce7f.358a"]]},{"id":"7c0408c9.eaa868","type":"range","z":"dec8ae4b.784ce","minin":"0","maxin":"10000","minout":"0","maxout":"100","action":"scale","round":false,"property":"payload","name":"/100","x":970,"y":120,"wires":[["737feaf2.f8f864","ffc346fd.8ae2c8","b5b1fd82.0cbdc"]]},{"id":"1d67dc76.d358c4","type":"change","z":"dec8ae4b.784ce","name":"Ampssolar","rules":[{"t":"set","p":"topic","pt":"msg","to":"Asolar","tot":"str"},{"t":"set","p":"Asolar","pt":"flow","to":"payload","tot":"msg"},{"t":"set","p":"measurement","pt":"msg","to":"solarAmps","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":830,"y":120,"wires":[["7c0408c9.eaa868"]]},{"id":"d32deb64.c8f0e8","type":"range","z":"dec8ae4b.784ce","minin":"0","maxin":"10000","minout":"0","maxout":"100","action":"scale","round":false,"property":"payload","name":"/100","x":970,"y":160,"wires":[["fcbef6e6.1cd5c8","ffc346fd.8ae2c8"]]},{"id":"f6844271.a5a0a","type":"change","z":"dec8ae4b.784ce","name":"WattsSolar","rules":[{"t":"set","p":"topic","pt":"msg","to":"wsolar","tot":"str"},{"t":"set","p":"wsolar","pt":"flow","to":"payload","tot":"msg"},{"t":"set","p":"measurement","pt":"msg","to":"solarWatts","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":830,"y":160,"wires":[["d32deb64.c8f0e8"]]},{"id":"fccd91b2.cb87","type":"ui_gauge","z":"dec8ae4b.784ce","name":"","group":"d7cf976.32cda68","order":1,"width":0,"height":0,"gtype":"gage","title":"Solar Volts","label":"Volts","format":"{{value | number:2}}v","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":1510,"y":80,"wires":[]},{"id":"737feaf2.f8f864","type":"ui_gauge","z":"dec8ae4b.784ce","name":"","group":"d7cf976.32cda68","order":2,"width":0,"height":0,"gtype":"gage","title":"Solar Amps","label":"Amps","format":"{{value | number:2}}A","min":0,"max":"12","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":1510,"y":120,"wires":[]},{"id":"fcbef6e6.1cd5c8","type":"ui_gauge","z":"dec8ae4b.784ce","name":"","group":"d7cf976.32cda68","order":3,"width":0,"height":0,"gtype":"gage","title":"Solar Watts","label":"Watts","format":"{{value | number:2}}w","min":0,"max":"600","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":1510,"y":160,"wires":[]},{"id":"5e6381a3.e7515","type":"range","z":"dec8ae4b.784ce","minin":"0","maxin":"10000","minout":"0","maxout":"100","action":"scale","round":false,"property":"payload","name":"/100","x":970,"y":200,"wires":[["cee39772.ede488","ffc346fd.8ae2c8","17cc2f75.ed83c1","4530af4f.60925"]]},{"id":"29de4916.dd0006","type":"change","z":"dec8ae4b.784ce","name":"BattVolts","rules":[{"t":"set","p":"topic","pt":"msg","to":"VBatt","tot":"str"},{"t":"set","p":"VBatt","pt":"flow","to":"payload","tot":"msg"},{"t":"set","p":"measurement","pt":"msg","to":"VBatt","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":820,"y":200,"wires":[["5e6381a3.e7515"]]},{"id":"cee39772.ede488","type":"ui_gauge","z":"dec8ae4b.784ce","name":"","group":"e7d3897b.42b048","order":3,"width":0,"height":0,"gtype":"gage","title":"Battery Volts","label":"Volts","format":"{{value | number:2}}V","min":"11","max":"16","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":1510,"y":200,"wires":[]},{"id":"d2eee66b.d3a858","type":"range","z":"dec8ae4b.784ce","minin":"0","maxin":"10000","minout":"0","maxout":"100","action":"scale","round":false,"property":"payload","name":"/100","x":970,"y":240,"wires":[["c57d2885.6afcb8","ffc346fd.8ae2c8","fdb64e2b.74f0f"]]},{"id":"5477c691.a0fba8","type":"change","z":"dec8ae4b.784ce","name":"BattAmps","rules":[{"t":"set","p":"topic","pt":"msg","to":"ABatt","tot":"str"},{"t":"set","p":"ABatt","pt":"flow","to":"payload","tot":"msg"},{"t":"set","p":"measurement","pt":"msg","to":"ABatt","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":820,"y":240,"wires":[["d2eee66b.d3a858"]]},{"id":"6ddd81d7.1be76","type":"ui_gauge","z":"dec8ae4b.784ce","name":"","group":"e7d3897b.42b048","order":3,"width":0,"height":0,"gtype":"gage","title":"Battery Watts","label":"Watts","format":"{{value | number:2}}w","min":"0","max":"600","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":1530,"y":280,"wires":[]},{"id":"3dd1275.eab6dd8","type":"range","z":"dec8ae4b.784ce","minin":"0","maxin":"10000","minout":"0","maxout":"100","action":"scale","round":false,"property":"payload","name":"/100","x":970,"y":280,"wires":[["6ddd81d7.1be76","ffc346fd.8ae2c8"]]},{"id":"843845d4.ed8a98","type":"change","z":"dec8ae4b.784ce","name":"BattWatts","rules":[{"t":"set","p":"topic","pt":"msg","to":"WBatt","tot":"str"},{"t":"set","p":"WBatt","pt":"flow","to":"payload","tot":"msg"},{"t":"set","p":"measurement","pt":"msg","to":"WBatt","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":820,"y":280,"wires":[["3dd1275.eab6dd8"]]},{"id":"c57d2885.6afcb8","type":"ui_gauge","z":"dec8ae4b.784ce","name":"","group":"e7d3897b.42b048","order":3,"width":0,"height":0,"gtype":"gage","title":"Battery Amps","label":"Amps","format":"{{value | number:2}}A","min":"0","max":"40","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":1510,"y":240,"wires":[]},{"id":"bf0405fc.c38c68","type":"range","z":"dec8ae4b.784ce","minin":"0","maxin":"10000","minout":"0","maxout":"100","action":"scale","round":false,"property":"payload","name":"/100","x":970,"y":320,"wires":[["f5f2b971.ec3df8","ffc346fd.8ae2c8"]]},{"id":"2bbfbea4.619dd2","type":"change","z":"dec8ae4b.784ce","name":"LoadAmps","rules":[{"t":"set","p":"topic","pt":"msg","to":"LaBatt","tot":"str"},{"t":"set","p":"LaBatt","pt":"flow","to":"payload","tot":"msg"},{"t":"set","p":"measurement","pt":"msg","to":"LaBatt","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":830,"y":320,"wires":[["bf0405fc.c38c68"]]},{"id":"823da22d.8a68a","type":"ui_gauge","z":"dec8ae4b.784ce","name":"","group":"920948f1.ba91d8","order":3,"width":0,"height":0,"gtype":"gage","title":"Load Watts","label":"Watts","format":"{{value | number:2}}w","min":"0","max":"600","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":1510,"y":360,"wires":[]},{"id":"afa21a0c.9102a8","type":"range","z":"dec8ae4b.784ce","minin":"0","maxin":"10000","minout":"0","maxout":"100","action":"scale","round":false,"property":"payload","name":"/100","x":970,"y":360,"wires":[["823da22d.8a68a","ffc346fd.8ae2c8"]]},{"id":"e2a19d9e.99c51","type":"change","z":"dec8ae4b.784ce","name":"LoadWatts","rules":[{"t":"set","p":"topic","pt":"msg","to":"LwBatt","tot":"str"},{"t":"set","p":"LwBatt","pt":"flow","to":"payload","tot":"msg"},{"t":"set","p":"measurement","pt":"msg","to":"LwBatt","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":830,"y":360,"wires":[["afa21a0c.9102a8"]]},{"id":"f5f2b971.ec3df8","type":"ui_gauge","z":"dec8ae4b.784ce","name":"","group":"920948f1.ba91d8","order":3,"width":0,"height":0,"gtype":"gage","title":"Load Amps","label":"Amps","format":"{{value | number:2}}A","min":"0","max":"40","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":1510,"y":320,"wires":[]},{"id":"d38bcd89.de3a1","type":"range","z":"dec8ae4b.784ce","minin":"0","maxin":"10000","minout":"0","maxout":"100","action":"scale","round":false,"property":"payload","name":"/100","x":970,"y":400,"wires":[["ffc346fd.8ae2c8","48cdafc1.8dbdf"]]},{"id":"528d98ea.977098","type":"change","z":"dec8ae4b.784ce","name":"Battery temp","rules":[{"t":"set","p":"topic","pt":"msg","to":"Tbatt","tot":"str"},{"t":"set","p":"Tbatt","pt":"flow","to":"payload","tot":"msg"},{"t":"set","p":"measurement","pt":"msg","to":"Tbatt","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":830,"y":400,"wires":[["d38bcd89.de3a1"]]},{"id":"ffc346fd.8ae2c8","type":"influxdb out","z":"dec8ae4b.784ce","influxdb":"890bbb16.d0abc8","name":"Influx DB INput","measurement":"","precision":"s","retentionPolicy":"","x":1520,"y":540,"wires":[]},{"id":"17cc2f75.ed83c1","type":"ui_gauge","z":"dec8ae4b.784ce","name":"","group":"f9d5c2b1.4cf5e","order":2,"width":0,"height":0,"gtype":"gage","title":"Battery Volts","label":"Volts","format":"{{value | number:2}}V","min":"11","max":"16","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":1530,"y":680,"wires":[]},{"id":"fdb64e2b.74f0f","type":"ui_gauge","z":"dec8ae4b.784ce","name":"","group":"63e20d6d.99a264","order":2,"width":0,"height":0,"gtype":"gage","title":"Battery Amps","label":"Amps","format":"{{value | number:2}}A","min":"0","max":"40","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":1530,"y":720,"wires":[]},{"id":"88e6bec5.b06e7","type":"ui_gauge","z":"dec8ae4b.784ce","name":"","group":"f9d5c2b1.4cf5e","order":1,"width":0,"height":0,"gtype":"gage","title":"Solar Volts","label":"Volts","format":"{{value | number:2}}v","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":1530,"y":760,"wires":[]},{"id":"b5b1fd82.0cbdc","type":"ui_gauge","z":"dec8ae4b.784ce","name":"","group":"63e20d6d.99a264","order":1,"width":0,"height":0,"gtype":"gage","title":"Solar Amps","label":"Amps","format":"{{value | number:2}}A","min":0,"max":"12","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":1530,"y":800,"wires":[]},{"id":"4530af4f.60925","type":"link out","z":"dec8ae4b.784ce","name":"","links":["9f5b4fc4.024de"],"x":1540,"y":460,"wires":[]},{"id":"9f5b4fc4.024de","type":"link in","z":"b87bc2a6.9f87","name":"Battery Voltage Link In","links":["4530af4f.60925"],"x":35,"y":40,"wires":[["fb3e2482.3d0418"]]},{"id":"29121c56.ddb064","type":"switch","z":"b87bc2a6.9f87","name":"","property":"payload","propertyType":"msg","rules":[{"t":"btwn","v":"14.00","vt":"num","v2":"16.00","v2t":"num"},{"t":"btwn","v":"10","vt":"num","v2":"13.99","v2t":"num"}],"checkall":"true","repair":true,"outputs":2,"x":370,"y":80,"wires":[["4fb9daca.28dfa4"],["90fa2f41.bcf19"]]},{"id":"d2a81591.b55908","type":"rpi-gpio out","z":"b87bc2a6.9f87","name":"","pin":"18","set":true,"level":"1","freq":"","out":"out","x":960,"y":60,"wires":[]},{"id":"4fb9daca.28dfa4","type":"change","z":"b87bc2a6.9f87","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"0","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":520,"y":40,"wires":[["8377dc38.98f27"]]},{"id":"90fa2f41.bcf19","type":"change","z":"b87bc2a6.9f87","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"1","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":520,"y":100,"wires":[["8377dc38.98f27"]]},{"id":"fb3e2482.3d0418","type":"function","z":"b87bc2a6.9f87","name":"gate","func":"// read (or initialize) gate state\nvar gateIsOpen = context.get(\"gateIsOpen\") || false;\n\n//message is from switch\nif(msg.topic === \"gate\"){\n gateIsOpen = msg.payload;\n // store the gate state \n context.set(\"gateIsOpen\",gateIsOpen);\n}\n\n// message is from other sources\nelse{\n if(gateIsOpen === true){\n node.status({fill:\"green\",shape:\"ring\",text:\"gate is open\"});\n // send through the original message\n return msg;\n }\n else{\n //just display the status of gate\n node.status({fill:\"red\",shape:\"ring\",text:\"gate is closed\"});\n }\n}\n\n","outputs":1,"noerr":0,"x":230,"y":80,"wires":[["29121c56.ddb064"]]},{"id":"11d3123.6c73aee","type":"ui_switch","z":"b87bc2a6.9f87","name":"","label":"Auto fridge Switch on / off","tooltip":"","group":"8ffba23a.98b82","order":2,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"gate","style":"","onvalue":"true","onvalueType":"bool","onicon":"fa-arrow-circle-right","oncolor":"green","offvalue":"false","offvalueType":"bool","officon":"fa-arrow-circle-left","offcolor":"red","x":230,"y":20,"wires":[["fb3e2482.3d0418"]]},{"id":"48cdafc1.8dbdf","type":"link out","z":"dec8ae4b.784ce","name":"","links":["82b24882.831758","4ccbc45b.73923c"],"x":1535,"y":500,"wires":[]},{"id":"8377dc38.98f27","type":"ui_switch","z":"b87bc2a6.9f87","name":"","label":"Master Fridge On Off","tooltip":"","group":"8ffba23a.98b82","order":1,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"0","onvalueType":"num","onicon":"fa-arrow-circle-right","oncolor":"green","offvalue":"1","offvalueType":"num","officon":"fa-arrow-circle-left","offcolor":"red","x":740,"y":60,"wires":[["d2a81591.b55908"]]},{"id":"4ccbc45b.73923c","type":"link in","z":"b87bc2a6.9f87","name":"","links":["48cdafc1.8dbdf"],"x":35,"y":80,"wires":[[]]},{"id":"66225854.8019c8","type":"ui_switch","z":"b87bc2a6.9f87","name":"","label":"Lounge","tooltip":"","group":"9e549dc.11d356","order":1,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"0","onvalueType":"str","onicon":"fa-lightbulb-o","oncolor":"green","offvalue":"1","offvalueType":"str","officon":"fa-lightbulb-o","offcolor":"red","x":200,"y":240,"wires":[["17f709bd.b5d176"]]},{"id":"6fa651bd.41a6","type":"ui_switch","z":"b87bc2a6.9f87","name":"","label":"Kitchen","tooltip":"","group":"9e549dc.11d356","order":2,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"0","onvalueType":"str","onicon":"fa-lightbulb-o","oncolor":"green","offvalue":"1","offvalueType":"str","officon":"fa-lightbulb-o","offcolor":"red","x":200,"y":300,"wires":[["75d676ec.413b38"]]},{"id":"a637d8a0.dd5478","type":"ui_switch","z":"b87bc2a6.9f87","name":"","label":"Bedroom","tooltip":"","group":"9e549dc.11d356","order":3,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"0","onvalueType":"str","onicon":"fa-lightbulb-o","oncolor":"green","offvalue":"1","offvalueType":"str","officon":"fa-lightbulb-o","offcolor":"red","x":200,"y":360,"wires":[["90e64b46.457268"]]},{"id":"17f709bd.b5d176","type":"rpi-gpio out","z":"b87bc2a6.9f87","name":"","pin":"22","set":true,"level":"1","freq":"","out":"out","x":480,"y":240,"wires":[]},{"id":"75d676ec.413b38","type":"rpi-gpio out","z":"b87bc2a6.9f87","name":"","pin":"13","set":true,"level":"1","freq":"","out":"out","x":480,"y":300,"wires":[]},{"id":"90e64b46.457268","type":"rpi-gpio out","z":"b87bc2a6.9f87","name":"","pin":"11","set":true,"level":"1","freq":"","out":"out","x":480,"y":360,"wires":[]},{"id":"5a08eec9.8a0c4","type":"ui_switch","z":"b87bc2a6.9f87","name":"","label":"USB Sockets","tooltip":"","group":"8ffba23a.98b82","order":3,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"0","onvalueType":"str","onicon":"fa-arrow-circle-up","oncolor":"green","offvalue":"1","offvalueType":"str","officon":"fa-arrow-circle-down","offcolor":"red","x":190,"y":180,"wires":[["c621b13c.1c4ad"]],"info":"# hello"},{"id":"c621b13c.1c4ad","type":"rpi-gpio out","z":"b87bc2a6.9f87","name":"","pin":"16","set":true,"level":"1","freq":"","out":"out","x":480,"y":180,"wires":[]},{"id":"3c59e4d5.f5f47c","type":"ui_switch","z":"b87bc2a6.9f87","name":"","label":"Water Pump","tooltip":"","group":"8ffba23a.98b82","order":4,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"0","onvalueType":"str","onicon":"fa-arrow-circle-up","oncolor":"green","offvalue":"1","offvalueType":"str","officon":"fa-arrow-circle-down","offcolor":"red","x":190,"y":420,"wires":[["5c777f3e.ba5e6"]]},{"id":"5c777f3e.ba5e6","type":"rpi-gpio out","z":"b87bc2a6.9f87","name":"","pin":"12","set":true,"level":"1","freq":"","out":"out","x":480,"y":420,"wires":[]},{"id":"a11f3c77.edc21","type":"ui_switch","z":"b87bc2a6.9f87","name":"","label":"Battery LED's","tooltip":"","group":"9e549dc.11d356","order":4,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"0","onvalueType":"str","onicon":"fa-lightbulb-o","oncolor":"green","offvalue":"1","offvalueType":"str","officon":"fa-lightbulb-o","offcolor":"red","x":180,"y":480,"wires":[["e0846ef5.a7f3f"]]},{"id":"7f6f8d53.36a574","type":"ui_switch","z":"b87bc2a6.9f87","name":"","label":"Garage LED's","tooltip":"","group":"9e549dc.11d356","order":5,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"0","onvalueType":"str","onicon":"fa-lightbulb-o","oncolor":"green","offvalue":"1","offvalueType":"str","officon":"fa-lightbulb-o","offcolor":"red","x":180,"y":540,"wires":[["f4af28ce.967e38"]]},{"id":"e0846ef5.a7f3f","type":"rpi-gpio out","z":"b87bc2a6.9f87","name":"","pin":"29","set":true,"level":"1","freq":"","out":"out","x":480,"y":480,"wires":[]},{"id":"f4af28ce.967e38","type":"rpi-gpio out","z":"b87bc2a6.9f87","name":"","pin":"7","set":true,"level":"1","freq":"","out":"out","x":480,"y":540,"wires":[]}]