new node red flow cleaned up any unused nodes.json
[{"id":"b74759b2.0e7988","type":"tab","label":"Switchs","disabled":false,"info":""},{"id":"6e903e3c.6bc1b","type":"link in","z":"b74759b2.0e7988","name":"Battery Voltage Link In","links":["e015909.d97ae7"],"x":35,"y":40,"wires":[["f36bb317.a635a","3597b87a.ebcef8"]]},{"id":"d964673.1be2898","type":"rpi-gpio out","z":"b74759b2.0e7988","name":"","pin":"18","set":true,"level":"1","freq":"","out":"out","x":1260,"y":140,"wires":[]},{"id":"14d5c334.75370d","type":"link in","z":"b74759b2.0e7988","name":"","links":["db69d45b.1dab58"],"x":35,"y":80,"wires":[[]]},{"id":"4782c40b.15611c","type":"ui_switch","z":"b74759b2.0e7988","name":"","label":"Lounge","tooltip":"","group":"8ee75809.8e9d98","order":1,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"0","onvalueType":"str","onicon":"fa-lightbulb-o","oncolor":"green","offvalue":"1","offvalueType":"str","officon":"fa-lightbulb-o","offcolor":"red","x":120,"y":440,"wires":[["7f52aa7d.2ba0a4"]]},{"id":"e91ae174.b285","type":"ui_switch","z":"b74759b2.0e7988","name":"","label":"Kitchen","tooltip":"","group":"8ee75809.8e9d98","order":2,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"0","onvalueType":"str","onicon":"fa-lightbulb-o","oncolor":"green","offvalue":"1","offvalueType":"str","officon":"fa-lightbulb-o","offcolor":"red","x":120,"y":500,"wires":[["7357ed48.bd2514"]]},{"id":"a81d120d.62a2f","type":"ui_switch","z":"b74759b2.0e7988","name":"","label":"Bedroom","tooltip":"","group":"8ee75809.8e9d98","order":3,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"0","onvalueType":"str","onicon":"fa-lightbulb-o","oncolor":"green","offvalue":"1","offvalueType":"str","officon":"fa-lightbulb-o","offcolor":"red","x":100,"y":680,"wires":[["cbb2949b.2389a8"]]},{"id":"7f52aa7d.2ba0a4","type":"rpi-gpio out","z":"b74759b2.0e7988","name":"","pin":"22","set":true,"level":"1","freq":"","out":"out","x":1260,"y":440,"wires":[]},{"id":"7357ed48.bd2514","type":"rpi-gpio out","z":"b74759b2.0e7988","name":"","pin":"13","set":true,"level":"1","freq":"","out":"out","x":1260,"y":500,"wires":[]},{"id":"cbb2949b.2389a8","type":"rpi-gpio out","z":"b74759b2.0e7988","name":"","pin":"11","set":true,"level":"1","freq":"","out":"out","x":1260,"y":680,"wires":[]},{"id":"b6948191.dd9cc","type":"ui_switch","z":"b74759b2.0e7988","name":"","label":"USB Sockets","tooltip":"","group":"a39db5d0.b71878","order":8,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"0","onvalueType":"str","onicon":"fa-arrow-circle-up","oncolor":"green","offvalue":"1","offvalueType":"str","officon":"fa-arrow-circle-down","offcolor":"red","x":130,"y":380,"wires":[["45ee1072.4a897"]],"info":"# hello"},{"id":"45ee1072.4a897","type":"rpi-gpio out","z":"b74759b2.0e7988","name":"","pin":"16","set":true,"level":"1","freq":"","out":"out","x":1260,"y":380,"wires":[]},{"id":"e1f69a25.36ee38","type":"ui_switch","z":"b74759b2.0e7988","name":"","label":"Water Pump","tooltip":"","group":"a39db5d0.b71878","order":9,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"0","onvalueType":"str","onicon":"fa-arrow-circle-up","oncolor":"green","offvalue":"1","offvalueType":"str","officon":"fa-arrow-circle-down","offcolor":"red","x":110,"y":560,"wires":[["f3811aaf.400478"]]},{"id":"f3811aaf.400478","type":"rpi-gpio out","z":"b74759b2.0e7988","name":"","pin":"12","set":true,"level":"1","freq":"","out":"out","x":1260,"y":560,"wires":[]},{"id":"8ca3b93e.1bbda8","type":"ui_switch","z":"b74759b2.0e7988","name":"","label":"Battery LED's","tooltip":"","group":"8ee75809.8e9d98","order":4,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"0","onvalueType":"str","onicon":"fa-lightbulb-o","oncolor":"green","offvalue":"1","offvalueType":"str","officon":"fa-lightbulb-o","offcolor":"red","x":600,"y":780,"wires":[["354cc4cb.62bc3c"]]},{"id":"dca35147.26f77","type":"ui_switch","z":"b74759b2.0e7988","name":"","label":"Garage LED's","tooltip":"","group":"8ee75809.8e9d98","order":5,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"0","onvalueType":"str","onicon":"fa-lightbulb-o","oncolor":"green","offvalue":"1","offvalueType":"str","officon":"fa-lightbulb-o","offcolor":"red","x":120,"y":620,"wires":[["99badc1.defdb2"]]},{"id":"354cc4cb.62bc3c","type":"rpi-gpio out","z":"b74759b2.0e7988","name":"","pin":"29","set":true,"level":"1","freq":"","out":"out","x":1260,"y":780,"wires":[]},{"id":"99badc1.defdb2","type":"rpi-gpio out","z":"b74759b2.0e7988","name":"","pin":"7","set":true,"level":"1","freq":"","out":"out","x":1260,"y":620,"wires":[]},{"id":"f36bb317.a635a","type":"function","z":"b74759b2.0e7988","name":"gate","func":"// read (or initialize) gate state\nvar gateIsOpen = context.get(\"gateIsOpen\") || false;\n\n//message is from switch\nif(msg.topic === \"gate\"){\n gateIsOpen = msg.payload;\n // store the gate state \n context.set(\"gateIsOpen\",gateIsOpen);\n}\n\n// message is from other sources\nelse{\n if(gateIsOpen === true){\n node.status({fill:\"green\",shape:\"ring\",text:\"gate is open\"});\n // send through the original message\n return msg;\n }\n else{\n //just display the status of gate\n node.status({fill:\"red\",shape:\"ring\",text:\"gate is closed\"});\n }\n}\n\n","outputs":1,"noerr":0,"x":230,"y":80,"wires":[["8c6835c2.c9d808"]]},{"id":"fbecbc4a.0c0bc","type":"ui_switch","z":"b74759b2.0e7988","name":"","label":"Auto fridge Switch on / off Set to 13.7V","tooltip":"","group":"a39db5d0.b71878","order":6,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"gate","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":270,"y":20,"wires":[["f36bb317.a635a"]]},{"id":"3597b87a.ebcef8","type":"ui_text","z":"b74759b2.0e7988","group":"a39db5d0.b71878","order":7,"width":0,"height":0,"name":"","label":"Battery Check Voltage for auto ON-OFF","format":"{{msg.payload | number:2}} volts","layout":"col-center","x":340,"y":140,"wires":[]},{"id":"58d49b2e.071bb4","type":"ui_switch","z":"b74759b2.0e7988","name":"","label":"Master Fridge On Off","tooltip":"","group":"a39db5d0.b71878","order":1,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"0","onvalueType":"num","onicon":"","oncolor":"","offvalue":"1","offvalueType":"num","officon":"","offcolor":"","x":940,"y":140,"wires":[["d964673.1be2898"]]},{"id":"8c6835c2.c9d808","type":"function","z":"b74759b2.0e7988","name":"conditional","func":"if (msg.payload > 14.2) {\n  msg.payload = 0\n} else {\n  msg.payload = 1;\n}\n\nreturn msg;","outputs":1,"noerr":0,"x":430,"y":80,"wires":[["8802feb9.f4715"]]},{"id":"8802feb9.f4715","type":"rbe","z":"b74759b2.0e7988","name":"","func":"rbe","gap":"","start":"","inout":"out","property":"payload","x":670,"y":120,"wires":[["58d49b2e.071bb4"]]},{"id":"65692c0c.d58cc4","type":"comment","z":"b74759b2.0e7988","name":"this here will check the voltage of the batterys is above 13.7 volts  and turn the fridge on and off if solar charging","info":"","x":950,"y":60,"wires":[]},{"id":"e166b893.107e28","type":"comment","z":"b74759b2.0e7988","name":"visual check voltage","info":"","x":250,"y":180,"wires":[]},{"id":"875247d.225cdb8","type":"comment","z":"b74759b2.0e7988","name":"when restarting Raspberry pi reset gate by triggering auto fridge on and off","info":"","x":640,"y":20,"wires":[]},{"id":"1119ec32.241a34","type":"comment","z":"b74759b2.0e7988","name":"you can change the voltage to your liking  in conditional function node ","info":"","x":620,"y":200,"wires":[]},{"id":"b2ef464c.9eaa68","type":"function","z":"b74759b2.0e7988","name":"Sleep Timer","func":"\nvar value  = context.get('value') || 60000;\n\nif (msg.topic == \"value\")\n{\n  value = msg.payload * 60000;\n  context.set('value',value);  \n}\n\nelse if (msg.topic == \"start\")\n{\n\nvar timer = setTimeout(function(){msg.payload = \"1\";node.send([msg,{ payload: \"End\" }]);var countdownstop  = context.get('countdown');clearInterval(countdownstop)},value);\ncontext.set('timer',timer); \n\nvar count = value/60000;\n//count = count -1 ;\nmsg.payload=count;\nnode.send([null,msg]);\nvar countdown = setInterval(function() {count=count-1;msg.payload=count; node.send([null,msg]) }, 60000);\ncontext.set('countdown',countdown);\n\n}\n\nelse if (msg.topic == \"stop\")\n{\nvar timerstop  = context.get('timer')\nclearTimeout(timerstop);\n\nvar countdownstop  = context.get('countdown')\nclearInterval(countdownstop);\n\n}\n\n\n","outputs":"2","noerr":0,"x":350,"y":780,"wires":[["8ca3b93e.1bbda8"],["23b645ee.e6903a"]]},{"id":"4bc11dc3.c41d54","type":"ui_button","z":"b74759b2.0e7988","name":"","group":"8c6e214a.4e523","order":1,"width":3,"height":1,"passthru":false,"label":"Start","tooltip":"","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"start","x":110,"y":760,"wires":[["b2ef464c.9eaa68"]]},{"id":"78ce5fe.3df8fa","type":"ui_numeric","z":"b74759b2.0e7988","name":"","label":"light Timer in min's","tooltip":"","group":"8c6e214a.4e523","order":3,"width":0,"height":0,"wrap":false,"passthru":true,"topic":"value","format":"{{value}}","min":".5","max":"300","step":".5","x":130,"y":840,"wires":[["b2ef464c.9eaa68"]]},{"id":"d33fe93f.112e58","type":"ui_button","z":"b74759b2.0e7988","name":"","group":"8c6e214a.4e523","order":2,"width":3,"height":1,"passthru":false,"label":"Stop","tooltip":"","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"stop","x":110,"y":800,"wires":[["b2ef464c.9eaa68"]]},{"id":"23b645ee.e6903a","type":"ui_text","z":"b74759b2.0e7988","group":"8c6e214a.4e523","order":4,"width":0,"height":0,"name":"","label":"sleep in Mins","format":"{{msg.payload}} Min's","layout":"row-spread","x":590,"y":820,"wires":[]},{"id":"80145388.24235","type":"function","z":"b74759b2.0e7988","name":"Sleep Timer","func":"\nvar value  = context.get('value') || 60000;\n\nif (msg.topic == \"value\")\n{\n  value = msg.payload * 60000;\n  context.set('value',value);  \n}\n\nelse if (msg.topic == \"start\")\n{\n\nvar timer = setTimeout(function(){msg.payload = \"1\";node.send([msg,{ payload: \"End\" }]);var countdownstop  = context.get('countdown');clearInterval(countdownstop)},value);\ncontext.set('timer',timer); \n\nvar count = value/60000;\n//count = count -1 ;\nmsg.payload=count;\nnode.send([null,msg]);\nvar countdown = setInterval(function() {count=count-1;msg.payload=count; node.send([null,msg]) }, 60000);\ncontext.set('countdown',countdown);\n\n}\n\nelse if (msg.topic == \"stop\")\n{\nvar timerstop  = context.get('timer')\nclearTimeout(timerstop);\n\nvar countdownstop  = context.get('countdown')\nclearInterval(countdownstop);\n\n}\n\n\n","outputs":"2","noerr":0,"x":330,"y":240,"wires":[["58d49b2e.071bb4"],["663b0874.6f2d38"]]},{"id":"f6c4040f.e29c08","type":"ui_button","z":"b74759b2.0e7988","name":"","group":"a39db5d0.b71878","order":2,"width":3,"height":1,"passthru":false,"label":"Start","tooltip":"","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"start","x":90,"y":220,"wires":[["80145388.24235"]]},{"id":"83330fe.be850f","type":"ui_numeric","z":"b74759b2.0e7988","name":"","label":"fridge set  Timer in min's","tooltip":"","group":"a39db5d0.b71878","order":4,"width":0,"height":0,"wrap":false,"passthru":true,"topic":"value","format":"{{value}}","min":".5","max":"300","step":".5","x":130,"y":300,"wires":[["80145388.24235"]]},{"id":"57e2a352.d3ef0c","type":"ui_button","z":"b74759b2.0e7988","name":"","group":"a39db5d0.b71878","order":3,"width":3,"height":1,"passthru":false,"label":"Stop","tooltip":"","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"stop","x":90,"y":260,"wires":[["80145388.24235"]]},{"id":"663b0874.6f2d38","type":"ui_text","z":"b74759b2.0e7988","group":"a39db5d0.b71878","order":5,"width":0,"height":0,"name":"","label":"sleep in Mins","format":"{{msg.payload}} Min's","layout":"row-spread","x":590,"y":260,"wires":[]},{"id":"8ee75809.8e9d98","type":"ui_group","z":"","name":"Lights","tab":"dec0baa6.eb6d98","order":2,"disp":true,"width":4,"collapse":false},{"id":"a39db5d0.b71878","type":"ui_group","z":"","name":"Fridge Setup and USB","tab":"dec0baa6.eb6d98","order":1,"disp":true,"width":"6","collapse":true},{"id":"8c6e214a.4e523","type":"ui_group","z":"","name":"battery cupboard light timer ","tab":"dec0baa6.eb6d98","order":3,"disp":true,"width":"6","collapse":false},{"id":"dec0baa6.eb6d98","type":"ui_tab","z":"","name":"Lights And ACC","icon":"dashboard","order":4,"disabled":false,"hidden":false}]